<!-- START @SIGN WRAPPER -->
<div id="sign-wrapper">
    
    <!-- Brand -->
    <div class="brand">        
        <img ng-src="img/{{empresa.url}}/{{empresa.imglogologin}}" ng-if="empresa" />
        <img ng-src="{{settings.globalImagePath}}/logo.png" ng-if="!empresa" />
    </div>
    <!--/ Brand -->
    
    <div ng-show="vm.error" class="alert alert-danger">{{ vm.error}}</div>
    <div ng-show="vm.warning" class="alert alert-info">{{ vm.warning}}</div>
    
    <!-- Login form -->
    <form name="form" ng-submit="vm.login()" class="form-horizontal shadow rounded no-overflow">
        <div class="sign-header">
            <div class="form-group">
                <div class="sign-text">                    
                    <span ng-if="empresa">{{empresa.razonsocial | uppercase}}</span>
                    <span ng-if="!empresa">Member Area</span>
                </div>
            </div><!-- /.form-group -->
        </div><!-- /.sign-header -->
        <div class="sign-body">
            <div class="form-group">
                <div class="input-group input-group-lg rounded no-overflow">
                    <input type="text" class="form-control input-sm" placeholder="DNI " name="username" ng-model="vm.username" required>                    
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <label class="error" ng-show="form.username.$dirty && form.username.$error.required" style="display: inline-block">Ingrese documento identidad</label>     
                </div>                               
            </div><!-- /.form-group -->
            <div class="form-group">
                <div class="input-group input-group-lg rounded no-overflow">
                    <input type="password" class="form-control input-sm" placeholder="Contraseña" name="password" ng-model="vm.password" required>
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <label class="error" ng-show="form.password.$dirty && form.password.$error.required" style="display: inline-block">Ingrese contraseña válida</label>     
                </div>                
            </div><!-- /.form-group -->
        </div><!-- /.sign-body -->
        <div class="sign-footer">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">                        
                    </div>
                    <div class="col-xs-6 text-right">                        
                    </div>
                </div>
            </div><!-- /.form-group -->
            <div class="form-group">                
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-theme btn-lg btn-block no-margin rounded">{{vm.submitlogin}}</button>
            </div><!-- /.form-group -->
        </div><!-- /.sign-footer -->
    </form><!-- /.form-horizontal -->
    <!--/ Login form -->

    <!-- Content text -->
    <p class="text-muted text-center sign-link">{{empresa.direccion}} </p>
    <!--/ Content text -->

</div><!-- /#sign-wrapper -->
<!--/ END SIGN WRAPPER -->