<div class="panel panel-tab  panel-tab-double rounded shadow">           
    <div class="panel-heading no-padding">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab1-1" data-toggle="tab">                                
                    <i class="fa fa-info-circle"></i>
                    <div>
                        <span class="text-strong">Datos</span>
                        <span>Información general</span>
                    </div>
                </a>
            </li>
            <li ng-if="vm.entidad.tipomedico === '1'">
                <a href="#tab1-2" data-toggle="tab">
                    <i class="fa fa-user-md"></i>
                    <div>
                        <span class="text-strong">Médico</span>
                        <span>Especialidades</span>
                    </div> 
                </a>
            </li>
            <li ng-if="vm.entidad.tipocliente === '1'">
                <a href="#tab1-3" data-toggle="tab">
                    <i class="fa fa-female"></i>
                    <div>
                        <span class="text-strong">Paciente</span>
                        <span>Ficha</span>
                    </div> 
                </a>
            </li>
            <li ng-if="vm.entidad.tipopersonal === '1'">
                <a href="#tab1-4" data-toggle="tab">
                    <i class="fa fa-user"></i>
                    <div>
                        <span class="text-strong">Personal</span>
                        <span>Recursos humanos</span>
                    </div> 
                </a>
            </li>
            <li ng-if="vm.entidad.tipoproveedor === '1'">
                <a href="#tab1-5" data-toggle="tab">
                    <i class="fa fa-user"></i>
                    <div>
                        <span class="text-strong">Proveedor</span>
                        <span>Contactos</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="panel-body">
        <div class="tab-content"> 
            <div class="tab-pane fade in active" id="tab1-1"> 
                <h4>Datos generales</h4>
                <div class="row">
                    <div class="col-md-12">                        
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Tipo documento:</label>
                        <div class="col-sm-4 col-xs-6">   
                            <span>{{vm.entidad.documento}}</span>
                        </div>
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Número:</label>
                        <div class="col-sm-4 col-xs-6">  
                            <span>{{vm.entidad.numerodoc}}</span>                                        
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.entidad.iddocumento === 1 || vm.entidad.iddocumento === 3">
                    <div class="col-md-12">                                        
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Apellido paterno:</label> 
                        <div class="col-sm-4 col-xs-6"> 
                            <span>{{vm.entidad.apellidopat}}</span>                                        
                        </div>
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Apellido materno:</label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.apellidomat}}</span>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-sm-2 col-xs-6 control-label text-theme" ng-if="vm.entidad.iddocumento === 1 || vm.entidad.iddocumento === 3">Nombre(s):</label>
                        <div class="col-sm-4 col-xs-6" ng-if="vm.entidad.iddocumento === 1 || vm.entidad.iddocumento === 3">
                            <span>{{vm.entidad.nombre}}</span>
                        </div> 
                        <label class="col-sm-2 col-xs-6 control-label text-theme" ng-if="vm.entidad.iddocumento === 2">Razón social:</label> 
                        <div class="col-sm-4 col-xs-6" ng-if="vm.entidad.iddocumento === 2"> 
                            <span>{{vm.entidad.razonsocial}}</span>
                        </div> 
                    </div>
                </div>
                <div class="row" ng-if="vm.entidad.iddocumento === 1 || vm.entidad.iddocumento === 3">
                    <div class="col-md-12">                                                                                                            
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Fecha nacimiento:</label>
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.fechanacimiento}}</span>
                        </div>
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Sexo:</label>
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.sexo}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">  
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Teléfono:</label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.telefono}}</span>                                        
                        </div> 
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Celular:</label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.celular}}</span>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Correo electr&oacute;nico:</label>
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.email}}</span>
                        </div>
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Cargo desempeño:</label>
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.cargoorg}}</span>
                        </div>
                    </div>
                </div> 
                <h4 class="mt-10">Direcci&oacute;n</h4>
                <div class="row">
                    <div class="col-md-12">                                        
                        <label class="col-sm-2 col-xs-12 control-label text-theme">Pa&iacute;s./Prov./Poblaci&oacute;n:</label>                             
                        <div class="col-sm-4 col-xs-4">
                            <span>{{vm.entidad.pais}}</span>
                        </div> 
                        <div class="col-sm-3 col-xs-4"> 
                            <span>{{vm.entidad.dpto}}</span>
                        </div>
                        <div class="col-sm-3 col-xs-4">
                            <span>{{vm.entidad.prov}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-sm-2 col-xs-12 control-label text-theme">Direcci&oacute;n:</label>                                
                        <div class="col-sm-10 col-xs-12">
                            <span ng-if="vm.entidad.codigopostal">C&oacute;digo postal: {{vm.entidad.codigopostal}}. </span>
                            <span>{{vm.entidad.direccion}}</span>
                        </div> 
                    </div>
                </div> 
                <h4 class="mt-10">Internet</h4>
                <div class="row">
                    <div class="col-md-12">  
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Facebook: <i class="fa fa-facebook-official"></i></label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.facebook}}</span>                                        
                        </div> 
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Twitter: <i class="fa fa-twitter"></i></label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.twitter}}</span>                                        
                        </div> 
                    </div>
                    <div class="col-md-12">  
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Página web: <i class="fa fa-chrome"></i> </label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.paginaweb}}</span>                                        
                        </div> 
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Whatsapp: <i class="fa fa-whatsapp"></i> </label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.whatsapp}}</span>
                        </div> 
                    </div>
                </div>                                                        
            </div>

            <!-- PANEL 2-->
            <div class="tab-pane fade" id="tab1-2">
                <h4>Colegiatura</h4>
                <div class="row">
                    <div class="col-md-12">  
                        <label class="col-sm-2 col-xs-6 control-label text-theme">R.N.E.:</label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.medico.rne}}</span>                                        
                        </div> 
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Número colegiatura:</label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.medico.colegiatura}}</span>                                        
                        </div> 
                    </div>
                </div>
                <h4 class="mt-10">Especialidades {{vm.others.entidadespecialidad.lenght}}</h4>
                <div class="row">
                    <div class="col-md-12">                            
                        <label class="col-sm-2 col-xs-12 control-label text-theme">Especialidades del m&eacute;dico:</label>
                        <div class="col-sm-10 col-xs-12">                                            
                            <table class="table">
                                <thead>
                                    <tr> 
                                        <th style="width: 100px;"><strong>Tipo</strong></th>
                                        <th><strong>Especialidad m&eacute;dica</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="item in vm.others.entidadespecialidad">
                                        <td>{{item.tipoespecialidad}}</td>
                                        <td>{{item.nombre}}</td>
                                    </tr>
                                    <tr data-ng-show="vm.others.entidadespecialidad.length === 0">  
                                        <td colspan="2" class="text-center">No hay especialidades asignadas.</td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div> 
                    </div>
                </div>
            </div>

            <!-- PANEL 3-->
            <div class="tab-pane fade" id="tab1-3">
                <h4>Datos a posterior</h4>
                <div class="row">
                    <div class="col-md-12">                                   
                                                                                         
                    </div>
                </div>                        
            </div> 

            <!-- PANEL 4-->
            <div class="tab-pane fade" id="tab1-4">
                <h4>Sedes</h4>
                <div class="row">
                    <div class="col-md-12">                            
                        <label class="col-sm-2 col-xs-12 control-label text-theme">Sedes donde labora:</label>
                        <div class="col-sm-10 col-xs-12">  
                            <table class="table">
                                <thead>
                                    <tr> 
                                        <th style="width: 200px;"><strong>Sede </strong></th>
                                        <th><strong>Direcci&oacute;n</strong></th>

                                    </tr>
                                </thead>
                                <tbody>                                                
                                    <tr data-ng-repeat="item in vm.others.entidadsede" >   
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.direccion}}</td>                                                    
                                    </tr>
                                    <tr data-ng-show="vm.others.entidadsede.length === 0">  
                                        <td colspan="2" class="text-center">No hay sedes asignadas.</td>
                                    </tr>
                                </tbody>
                            </table> 

                        </div> 
                    </div>
                </div>
                <h4 class="mt-15">Configuración en el sistema</h4>                                                        
                <div class="row">
                    <div class="col-md-12">                            
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Perfil en sistema:</label>
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.entidad.perfil}}</span>  
                        </div>                                    
                    </div>
                </div>
            </div>
            
            <!-- PANEL 5-->
            <div class="tab-pane fade" id="tab1-5">
                <h4>Contactos</h4>
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="pull-left mb-5">Información de contactos con el proveedor.</div>                        
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">                                      
                        <table class="table table-striped table-theme">
                            <thead>
                                <tr>
                                    <th width="30%"><strong>Contacto</strong></th>                                                
                                    <th width="12%"><strong>Tel&eacute;fono</strong></th>
                                    <th width="12%"><strong>Celular</strong></th>
                                    <th width="21%" class="hidden-xs " ><strong>Email</strong></th> 
                                    <th width="25%" class="hidden-xs"><strong>Descripci&oacute;n</strong></th>                                     
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in vm.others.contactos" >      
                                    <td>{{item.contacto}}</td>
                                    <td>{{item.telefono}}</td>
                                    <td>{{item.celular}}</td>
                                    <td class="hidden-xs">{{item.email}}</td>
                                    <td class="hidden-xs">{{item.descripcion}}</td>                                      
                                </tr> 
                                <tr data-ng-show="vm.others.contactos.length === 0">  
                                    <td colspan="5" class="text-center">No hay contactos.</td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>