<div class="header-left"> 
    <div class="navbar-header">        
        <a class="navbar-brand" data-ng-href="#/perfil/{{entidad.identidad}}">
            <img class="logo" ng-src="img/{{empresa.url}}/{{empresa.imglogosistema}}" ng-if="empresa" width="175" height="50" />
            <img class="logo" src="http://img.djavaui.com/?create=175x50,A90329?f=ffffff" ng-if="!empresa" />            
        </a> 
    </div>  
    <div class="clearfix"></div>
</div>

<div class="header-right">
    <div class="navbar navbar-toolbar">
        <ul class="nav navbar-nav navbar-left">
            <li class="navbar-search">                                
                
                <form name="form-search" class="navbar-form" style="margin-left: 20px;">                                
                    <div class="form-group has-feedback"> 
                        <div angucomplete-alt 
                            id="ex5" 
                            placeholder="Buscar personal, m&eacute;dicos, pacientes, proveedores" 
                            pause="250" 
                            selected-object="selectedObject" 
                            remote-api-handler = "searchAPI" 
                            remote-url-data-field="data" 
                            title-field="entidad"                             
                            minlength="2" 
                            input-class="form-control typeahead rounded" 
                            match-class="highlight" 
                            text-searching="Buscando..." 
                            text-no-results="No hay resultados a su b&uacute;squeda." 
                            focus-first=true>                                
                        </div>
                        <button type="submit" class="btn btn-theme fa fa-search form-control-feedback rounded"></button>
                    </div>  
                </form>
            </li>       
        </ul> 

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown navbar-profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">                    
                    <span class="meta">
                        <span class="avatar">                            
                            <img ng-if="entidad.imgperfil" ng-src="img/{{empresa.url}}/{{entidad.numerodoc}}/{{entidad.imgperfil}}" width="35" height="35" class="img-circle" />
                            <img ng-if="!entidad.imgperfil && entidad.sexo == 'M'" ng-src="img/{{empresa.url}}/masculino.png" width="35" height="35" class="img-circle" />
                            <img ng-if="!entidad.imgperfil && entidad.sexo == 'F'" ng-src="img/{{empresa.url}}/femenino.png" width="35" height="35" class="img-circle" />
                            <img ng-if="!entidad.imgperfil && entidad.sexo == '' || entidad.sexo == null" ng-src="http://img.djavaui.com/?create=50x50,A90329?f=ffffff" width="35" height="35" class="img-circle" />
                        </span>
                        <span class="text text-muted">{{entidad.nombres}}</span>
                        <span class="caret"></span>                            
                    </span>
                </a> 
                
                <ul class="dropdown-menu animated flipInX">
                    <li class="dropdown-header">Mi cuenta</li>
                    <li><a href="#/perfil/{{entidad.identidad}}"><i class="fa fa-home"></i>Mi perfil</a></li>
                    <li><a href="#" ng-click = "abrirModal(entidad.identidad);"><i class="fa fa-bars"></i>Cambiar contraseña</a></li>
                    <li class="divider"></li>                     
                    <li><a href="#" ng-click ="logout();"><i class="fa fa-sign-out"></i>Salir</a></li>                    
                </ul> 
            </li> 
        </ul> 
    </div> 
</div> 