<!-- Start left navigation - profile shortcut -->
<div class="sidebar-content">
    <a href="#" class="close">&times;</a>
    <div class="media">
        <a class="pull-left has-notif avatar" data-ng-href="#/perfil/{{entidad.identidad}}">               
            <img ng-if="entidad.imgperfil" ng-src="img/{{empresa.url}}/{{entidad.numerodoc}}/{{entidad.imgperfil}}" width="50" height="50"/>
            <img ng-if="!entidad.imgperfil && entidad.sexo == 'M'" ng-src="img/{{empresa.url}}/masculino.png" width="50" height="50"/>
            <img ng-if="!entidad.imgperfil && entidad.sexo == 'F'" ng-src="img/{{empresa.url}}/femenino.png" width="50" height="50"/>
            <img ng-if="!entidad.imgperfil && (entidad.sexo == '' || entidad.sexo == null)" ng-src="http://img.djavaui.com/?create=50x50,A90329?f=ffffff" width="50" height="50"/>
            <i class="online"></i>
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{entidad.nombres}}</h4>
            <small>{{entidad.perfilnombre}}</small>
        </div>
    </div>
</div><!-- /.sidebar-content -->
<!--/ End left navigation -  profile shortcut -->

<ul data-collapse-menu class="sidebar-menu">   
    <!-- Aplicacion IONIC -->
    <li ng-repeat-start="modulo in modules" data-ng-if="modulo.level == '1'" class="sidebar-category">
        <span><strong>{{ modulo.name}}</strong></span>
        <span class="pull-right"><i class="{{ modulo.icon}}"></i></span>
    </li>
    <li ng-repeat-end ng-repeat="menu in modulo.menus" data-ng-if="modulo.menus" ng-class="{ submenu : menu.children == 1}">            
        <a href="#/{{ menu.uri}}" data-ng-if="menu.children == 0" data-active-menu >
            <span class="icon"><i class="{{ menu.icon}}"></i></span>
            <span class="text">{{ menu.name}}</span>
        </a>

        <a href="javascript:void(0);" data-ng-if="menu.children == 1" data-collapse-menu-click>
            <span class="icon"><i class="{{ menu.icon}}"></i></span>
            <span class="text">{{ menu.name}}</span>
            <span class="arrow"></span>
        </a>
        <ul data-ng-if="menu.children == 1">
            <li ng-repeat="option in menu.options" data-ng-if="menu.options">
                <a href="#/{{ option.uri}}" data-active-menu>{{ option.name}}</a>
            </li> 
        </ul>            
    </li>    
</ul>

<!--/ End left navigation - menu -->
<!-- Start left navigation - footer -->
<div class="sidebar-footer hidden-xs hidden-sm hidden-md">
    <a data-setting class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Setting"><i class="fa fa-cog"></i></a>
    <a data-fullscreen class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Fullscreen"><i class="fa fa-desktop"></i></a>
    <a data-lock-screen  class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Lock Screen"><i class="fa fa-lock"></i></a>
    <a data-logout class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Logout"><i class="fa fa-power-off"></i></a>
</div><!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->