<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" data-ng-app="blankonApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" data-ng-app="blankonApp"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" data-ng-app="blankonApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">                
        <title data-ng-bind="$state.current.data.pageTitle"></title>            
        <link data-ng-href="{{settings.pluginPath}}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link data-ng-href="{{settings.pluginPath}}/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        
        <link data-ng-href="{{settings.pluginPath}}/animate.css/animate.min.css" rel="stylesheet">
        <link data-ng-href="{{settings.pluginPath}}/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
        <link data-ng-href="{{settings.pluginPath}}/angular-ui-grid/ui-grid.css" rel="stylesheet">
        <link data-ng-href="{{settings.pluginPath}}/angucomplete-alt/angucomplete-alt.css" rel="stylesheet">
        <link data-ng-href="{{settings.pluginPath}}/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet">
        <link data-ng-href="{{settings.pluginPath}}/angular-tree-control/css/tree-control.css" rel="stylesheet">
        <link href="assets/global/plugins/bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet">
        <link href="assets/global/plugins/bower_components/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media='print'>
        <link href="assets/global/plugins/bower_components/qtip2/jquery.qtip.css" rel="stylesheet">
        <link href="assets/global/plugins/bower_components/datepick/DateTimePicker.css" rel="stylesheet">

        
        <link id="load_css_before"/> 

        <link data-ng-href="{{settings.cssPath}}/reset.css" rel="stylesheet">
        <link data-ng-href="{{settings.cssPath}}/layout.css" rel="stylesheet">
        <link data-ng-href="{{settings.cssPath}}/components.css" rel="stylesheet">                
        <link data-ng-href="{{settings.cssPath}}/themes/{{empresa.archivo}}" ng-if="empresa" rel="stylesheet" id="theme">        
        <link data-ng-href="{{settings.cssPath}}/custom.css" rel="stylesheet">        
        <link data-ng-href="{{settings.cssPath}}/angular-custom.css" rel="stylesheet">

       
        

      


        <!-- START @IE SUPPORT -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/global/plugins/bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="assets/global/plugins/bower_components/respond-minmax/dest/respond.min.js"></script>
        <![endif]-->
        <!--/ END IE SUPPORT -->
    </head>  
    <body data-ng-controller="BlankonCtrl" ng-class="bodyCss">            
        <!--[if lt IE 9]>
        <p class="upgrade-browser">Upps!! You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div data-ng-include="'partials/modal-password.html'"></div>
        <section id="wrapper">
            <header ng-if="viewLogin" data-ng-include="'partials/header.html'" id="header"></header>             
            <aside ng-if="viewLogin" data-sidebar-left-nicescroll data-ng-include="'partials/sidebar-left.html'" id="sidebar-left" class="sidebar-circle"></aside>             
            <section id="{{pageContent}}">                
                <div ng-if="viewLogin" class="header-content" data-ng-include="'partials/header-content.html'"></div>                
                <div data-ui-view ng-class="viewCss"></div> 
                <footer ng-if="viewLogin" class="footer-content" data-ng-include="'partials/footer.html'"></footer>                             
            </section>
        </section> 
        <div ng-if="viewLogin" data-back-top id="back-top" class="animated pulse circle">
            <i class="fa fa-angle-up"></i>
        </div>  
        <script src="assets/global/plugins/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="assets/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/global/plugins/bower_components/jquery-nicescroll/jquery.nicescroll.min.js"></script>
        <script src="assets/global/plugins/bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.min.js"></script>
        
        <script src="assets/global/plugins/bower_components/angular/angular.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-touch/angular-touch.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="assets/global/plugins/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-cookies/angular-cookies.js"></script> 
        <script src="assets/global/plugins/bower_components/angular-ui-grid/ui-grid.min.js"></script>                    
        <script src="assets/global/plugins/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="assets/global/plugins/bower_components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>        
        <script src="assets/global/plugins/bower_components/checklist-model/checklist-model.js"></script>                
        <script src="assets/global/plugins/bower_components/angular-messages/angular-messages.min.js"></script> 
        <script src="assets/global/plugins/bower_components/angular-tree-control/angular-tree-control.js"></script>         
        <script src="assets/global/plugins/bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
        <script src="assets/global/plugins/bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>        
        <script src="assets/global/plugins/bower_components/moment/moment.js"></script>  
        <script src="assets/global/plugins/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>  
        <script src="assets/global/plugins/bower_components/fullcalendar/dist/lang-all.js"></script>  
        <script src="assets/global/plugins/bower_components/qtip2/jquery.qtip.min.js"></script>  
        

        <script type="text/javascript" src="assets/global/plugins/bower_components/datepick/DateTimePicker.js"></script>
        <script type="text/javascript" src="assets/global/plugins/bower_components/datepick/i18n/DateTimePicker-i18n.js"></script>
         
        
        <script src="js/app.js"></script>        
        <script src="app-services/authentication.service.js"></script>      
        <script src="app-services/entidad.service.js"></script> 
        <script src="app-services/grid.external.js"></script>                     
        <script src="app-services/enterprise.service.js"></script>         
        <script src="js/config.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>                 
    </body>
</html>