<div class="row">             
    <div class="col-md-12">  
        <div class="panel rounded shadow no-margin">
            <div class="panel-heading">
                <div class="pull-left">                  
                    <h3 class="panel-title">Mi perfil</h3>
                </div>
                <div class="pull-right">                  
                    <!-- <h3 class="panel-title">Hora: {{vm.others.timezonedatephp}}</h3> -->
                </div> 
                <div class="clearfix"></div>
            </div>
        </div>
        <div data-ng-include="'partials/entidad.html'"></div>
    </div>
</div>