/* Create your style on here */

.required{
    color: #F00;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
} 

.text-theme {
    color: #2b7081 !important; 
}
.highlight {
    color: #2b7081;
}

.alertStock{
    color: #F00 !important;
}