<style>
    .required{
        color: #F00;
        font-size: 11px; 
    }
</style>
         
<div class="row">
    <div class="col-md-6">
        <div class="panel rounded shadow no-margin">
            <div class="panel-heading"> 
                <div class="pull-left">
                    <h3 class="panel-title"><i class="fa fa-birthday-cake"></i> Cumpleaños del día</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>                                        
                </div>
                <div class="clearfix"></div>
            </div> 
            <div class="panel-body">
                <table class="table table-striped table-theme">
                    <thead>
                        <tr>
                            <th></th>
                            <th width="30%"><strong>Persona </strong></th>
                            <th width="20%"><strong>Naci&oacute;</strong></th>
                            <th width="17%"><strong>Cumple</strong></th>
                            <th width="20%"></th>                            
                        </tr>
                    </thead>
                    <tbody>                                                
                        <tr data-ng-repeat="item in vm.cumpleanos" >      
                            <td>                                                                
                                <img ng-if="!item.imgperfil && item.sexo == 'M'" ng-src="img/{{empresa.url}}/masculino.png" width="30" height="30" class="img-circle" />
                                <img ng-if="!item.imgperfil && item.sexo == 'F'" ng-src="img/{{empresa.url}}/femenino.png" width="30" height="30" class="img-circle" />                                                        
                            </td>
                            <td>{{item.entidad}}</td>
                            <td>{{item.fechanacimiento}}</td>
                            <td>{{item.edad}} años</td>
                            <td>{{item.tipoentidaddesc}}</td>                             
                        </tr>
                        <tr data-ng-show="vm.cumpleanos.length === 0">  
                            <td colspan="5" class="text-center">Hoy nadie cumple años.</td>
                        </tr> 
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title"><i class="fa fa-calendar-check-o"></i> Mis tareas</h3>
                </div> 
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>                    
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                  Sin programar
            </div>
        </div>
    </div>
</div>