<style>
    .required{
        color: #F00;
        font-size: 11px; 
    }
</style>

<script type="text/ng-template" id="myModalContent.html">  
<form name="miForm" ng-submit="save();" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">{{titulo}}</h3>
    </div>
    <div class="modal-body" ng-if = "accion"> 
        <div class="row">
            <div class="col-xs-12 col-md-12">
                ¿Seguro de eliminar: {{categoria.nombre}} ?
            </div>
        </div>
    </div> 
    <div class="modal-body" ng-if = "!accion"> 
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>Nombre: <span class="asterisk">*</span></label>                        
                <input type="text" name="nombre"  class="form-control input-sm" maxlength="100" ng-model="categoria.nombre" required> 
                <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div>    
    </div>
    <div class="modal-footer">            
        <button class="btn btn-primary" ng-disabled="miForm.$invalid || miForm.$submitted">
            <span ng-if = "accion">Si, eliminar</span>
            <span ng-if = "!accion">Guardar</span>        
        </button>    
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</form>
</script>
<div class="row">
    <div class="col-md-6 mb-5">
        <div class="callout callout-info mb-5">
            <code><i class="fa fa-plus"></i> Nueva categoria</code>Crea una <strong>categoría principal.</strong> <br>
            <code><i class="fa fa-plus"></i> <i class="fa fa-pencil"></i> <i class="fa fa-trash-o"></i></code>Crea, edita, y elimina sub categorias. <br>
            <code><i class="fa fa-folder"></i></code>Click en carpeta, para ver subcategorias</p>
        </div>
    </div>
</div>        
<div class="row">
    <div class="col-md-6">
        <div class="panel rounded shadow no-margin">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Productos</h3> 
                </div> 
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>                                        
                </div>
                <div class="clearfix"></div>
            </div> 
            <div class="panel-body">
                <div class="pull-left">
                    <a href="#" class="btn btn-sm" ng-click="vm.openModal('1', 'new')"><i class="fa fa-plus"></i> Nueva categor&iacute;a</a>
                </div> 
                <div class="clearfix"></div> 
                <treecontrol class="tree-classic no-margin no-padding" expanded-nodes="vm.expandedNodes" 
                    tree-model="vm.productos"
                    options="vm.treeOptions"
                    on-selection="vm.showSelected(node)">
                    {{node.nombre}}                      
                    <a href="#" ng-click="vm.openModal('1','new', node)" ng-if="node.nivel < 5"><i class="fa fa-plus"></i></a>
                    <a href="#" ng-click="vm.openModal('1','edit', node)" ng-if="node.nivel <= 5"><i class="fa fa-pencil"></i></a>
                    <a href="#" ng-click="vm.openModal('1','delete', node)" ng-if="node.nivel <= 5"><i class="fa fa-trash-o"></i></a>
                </treecontrol>  
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Servicios</h3>
                </div> 
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>                    
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <a href="#" class="btn btn-sm" ng-click="vm.openModal('2', 'new')"><i class="fa fa-plus"></i> Nueva categor&iacute;a</a>
                </div> 
                <div class="clearfix"></div> 
                <treecontrol class="tree-classic no-margin no-padding" expanded-nodes="vm.expandedNodes" 
                    tree-model="vm.servicios"
                    options="vm.treeOptions"
                    on-selection="vm.showSelected(node)">
                    {{node.nombre}}                      
                    <a href="#" ng-click="vm.openModal('2','new', node)" ng-if="node.nivel < 5"><i class="fa fa-plus"></i></a>
                    <a href="#" ng-click="vm.openModal('2','edit', node)" ng-if="node.nivel <= 5"><i class="fa fa-pencil"></i></a>
                    <a href="#" ng-click="vm.openModal('2','delete', node)" ng-if="node.nivel <= 5"><i class="fa fa-trash-o"></i></a>
                </treecontrol>  
            </div>
        </div>
    </div>
</div>