<style>
    .required{
        color: #F00;
        font-size: 11px;
        padding: 0px;
        margin: 0px;
    }
</style>
<script type="text/ng-template" id="myModalContent.html">  
<form name="miForm" ng-submit="save();" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Sede</h3>
    </div>
    <div class="modal-body" ng-if = "accion"> 
        <div class="row">
            <div class="col-xs-12 col-md-12">
                ¿Seguro de eliminar: {{sede.nombre}} ?
            </div>
        </div>
    </div> 
    <div class="modal-body" ng-if = "!accion"> 
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>Nombre: <span class="asterisk">*</span></label>                        
                <input type="text" name="nombre" class="form-control input-sm" maxlength="50" ng-model="sede.nombre" required> 
                <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>Direcci&oacute;n: <span class="asterisk">*</span></label>                        
                <input type="text" name="direccion"  class="form-control input-sm" maxlength="50" ng-model="sede.direccion" required> 
                <div ng-messages="miForm.direccion.$error" class="required" role="alert" ng-show="miForm.direccion.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>Tel&eacute;fono:</label>                        
                <input type="text" name="telefono"  class="form-control input-sm" ng-model="sede.telefono"  maxlength="9">                 
            </div>
        </div>
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>Celular:</label>                        
                <input type="text" name="celular"  class="form-control input-sm" ng-model="sede.celular"  maxlength="9">                 
            </div>
        </div>
        <div class="row">  
            <div class="form-group col-xs-12 col-md-12">  
                <label>Personal responsable:</label> 
                <select name="identidad" ng-model="sede.identidad" ng-options="item.identidad as item.entidad for item in others.personal" class="form-control input-sm">
                    <option value="">- Seleccione -</option>
                </select>
            </div>  
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-md-12">  
                <label>Sede principal:</label> 
                <span ng-if="esprincipal === '1'" tooltip-placement="top" uib-tooltip="Sede principal"><i class="fa fa-home"></i></span>                
                <div class="rdio rdio-theme circle radio-inline" ng-if="esprincipal === '0'">
                    <input type="radio" name="principal" id="radio-type-si" ng-model="sede.principal" value="1">
                    <label for="radio-type-si">Si</label>
                </div>
                <div class="rdio rdio-theme circle radio-inline" ng-if="esprincipal === '0'">
                    <input type="radio" name="principal" id="radio-type-no" ng-model="sede.principal" value="0">
                    <label for="radio-type-no">No</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">            
        <button class="btn btn-primary" ng-disabled="miForm.$invalid || miForm.$submitted">
            <span ng-if = "accion">Si, eliminar</span>
            <span ng-if = "!accion">Guardar</span>        
        </button>    
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</form>
</script>
<div class="row">             
    <div class="col-md-12"> 
        <form name="miForm" ng-submit="vm.save();" novalidate>
            <div class="panel rounded shadow no-margin">            
                <div class="panel-heading">                    
                    <div class="pull-right">                        
                        <button class="btn btn-theme btn-sm" ng-disabled="miForm.$invalid || miForm.$submitted"><i class="fa fa-floppy-o"></i> Grabar</button>                        
                    </div>
                    <div class="clearfix"></div>
                </div>    
                <div class="panel-body">
                    <h4>Datos generales</h4>
                    <div class="row">
                        <div class="col-md-12">                        
                            <label class="col-sm-2 col-xs-6 control-label">CIF: <span class="asterisk">*</span></label>
                            <div class="col-sm-4 col-xs-6">   
                                <input type="text" name="empresa" ng-model="vm.empresa.ruc" class="form-control input-sm mb-5" ng-minlength="9" maxlength="9" required/>                                        
                                <div ng-messages="miForm.ruc.$error" class="required" role="alert" ng-show="miForm.ruc.$dirty">
                                    <div ng-message="required">El campo es requerido</div>
                                    <div ng-message="minlength">Debe ser 9 d&iacute;gitos</div>
                                </div>  
                            </div> 
                        </div>
                    </div>                     
                    <div class="row">
                        <div class="col-md-12">                                                    
                            <label class="col-sm-2 col-xs-6 control-label">Raz&oacute;n social: <span class="asterisk">*</span></label>
                            <div class="col-sm-4 col-xs-6">                                          
                                <input type="text" name="razonsocial" ng-model="vm.empresa.razonsocial" class="form-control input-sm mb-5" maxlength="50" required/>                                        
                                <div ng-messages="miForm.razonsocial.$error" class="required" role="alert" ng-show="miForm.razonsocial.$dirty">
                                    <div ng-message="required">El campo es requerido</div>
                                </div> 
                            </div> 
                        </div>
                    </div>                     
                    <div class="row">
                        <div class="col-md-12">  
                            <label class="col-sm-2 col-xs-6 control-label">Teléfono:</label> 
                            <div class="col-sm-4 col-xs-6">
                                <input type="text" name="telefono" ng-model="vm.empresa.telefono" class="form-control input-sm mb-5" maxlength="9"/>
                            </div> 
                            <label class="col-sm-2 col-xs-6 control-label">Celular:</label> 
                            <div class="col-sm-4 col-xs-6">
                                <input type="text" name="celular" ng-model="vm.empresa.celular" class="form-control input-sm mb-5" maxlength="9"/>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">    
                            <label class="col-sm-2 col-xs-6 control-label">Correo electr&oacute;nico:</label> 
                            <div class="col-sm-4 col-xs-6">
                                <input type="text" name="email" ng-model="vm.empresa.email" class="form-control input-sm mb-5" maxlength="50"/>                                        
                            </div>  
<!--                            <label class="col-sm-2 col-xs-6 control-label">Temas:</label> 
                            <div class="col-sm-4 col-xs-6">
                                <select name="idtema" ng-model="vm.empresa.idtema" ng-options="item.idtema as item.nombre for item in vm.others.temas" class="form-control input-sm mb-5">                                    
                                    <option value="">-- Elige opci&oacute;n --</option>
                                </select>
                            </div>   -->
                        </div>
                    </div>

                    <h4 class="mt-10">Direcci&oacute;n</h4>
                     
                    
                    <div class="row">
                        <div class="col-md-12">                                        
                            <label class="col-sm-2 col-xs-12 control-label">Pa&iacute;s/Prov./Poblaci&oacute;n:</label>                             
                            <div class="col-sm-3 col-xs-4">  
                                <select name="pais"  ng-model="vm.empresa.pais" ng-options="item.pais as item.nombre for item in vm.others.paises" class="form-control input-sm mb-5" ng-change="vm.changeUbigeo({pais: vm.empresa.pais || ''}, 'departamentos')">
                                    <option value="">-- Pa&iacute;s --</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-4">  
                                <select name="departamento" ng-model="vm.empresa.dpto" ng-options="item.dpto as item.nombre for item in vm.others.departamentos" class="form-control input-sm mb-5" ng-change="vm.changeUbigeo({pais: vm.empresa.pais, dpto: vm.empresa.dpto || ''}, 'provincias')" >                                            
                                    <option value="">-- Provincia --</option>
                                </select>
                            </div> 
                            <div class="col-sm-3 col-xs-4">                                  
                                <select name="provincia" ng-model="vm.empresa.prov"  ng-options="item.prov as item.nombre for item in vm.others.provincias" class="form-control input-sm mb-5">
                                    <option value="">-- Poblaci&oacute;n --</option>
                                </select>
                            </div> 
                            <div class="col-sm-3 col-xs-4" ng-hide="true" >  
                                <select name="distrito" ng-model="vm.empresa.dist" ng-options="item.dist as item.nombre for item in vm.others.distritos" class="form-control input-sm mb-5">
                                    <option value="">-- Distrito --</option>
                                </select>
                            </div>                                     
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">                                        
                            <label class="col-sm-2 col-xs-12 control-label">Direcci&oacute;n: <span class="asterisk">*</span></label>                             
                            <div class="col-sm-10 col-xs-12">                                
                                <input type="text" name="direccion" ng-model="vm.empresa.direccion" class="form-control input-sm mb-5" required/>
                                <div ng-messages="miForm.direccion.$error" class="required" role="alert" ng-show="miForm.direccion.$dirty">
                                    <div ng-message="required">El campo es requerido</div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <h4 class="mt-10">Internet</h4>
                    <div class="row">
                        <div class="col-md-12">  
                            <label class="col-sm-2 col-xs-6 control-label">Facebook: <i class="fa fa-facebook-official"></i></label> 
                            <div class="col-sm-4 col-xs-6">
                                <input type="text" name="facebook" ng-model="vm.empresa.facebook" class="form-control input-sm mb-5" maxlength="50"/>
                            </div> 
                            <label class="col-sm-2 col-xs-6 control-label">Twitter: <i class="fa fa-twitter"></i></label> 
                            <div class="col-sm-4 col-xs-6">
                                <input type="text" name="twitter" ng-model="vm.empresa.twitter" class="form-control input-sm mb-5" maxlength="50"/>
                            </div> 
                        </div>
                        <div class="col-md-12">  
                            <label class="col-sm-2 col-xs-6 control-label">Página web: <i class="fa fa-chrome"></i> </label> 
                            <div class="col-sm-4 col-xs-6">                                
                                <input type="text" name="paginaweb" ng-model="vm.empresa.paginaweb" class="form-control input-sm mb-5" maxlength="100" />                                        
                            </div> 
                            <label class="col-sm-2 col-xs-6 control-label">Whatsapp: <i class="fa fa-whatsapp"></i> </label> 
                            <div class="col-sm-4 col-xs-6">
                                <input type="text" name="whatsapp" ng-model="vm.empresa.whatsapp" class="form-control input-sm mb-5" maxlength="50"/>
                            </div> 
                        </div>
                    </div> 
                </div>
            </div><!-- /.panel -->

            <!-- Start default tabs -->
            <div class="panel panel-tab  panel-tab-double rounded shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1-1" data-toggle="tab">                                
                                <i class="fa fa-institution"></i>
                                <div>
                                    <span class="text-strong">Sedes</span>
                                    <span>Informaci&oacute;n</span>
                                </div>
                            </a>
                        </li>   
                    </ul>
                </div><!-- /.panel-heading -->                
                <!--/ End tabs heading --> 

                <!-- Start tabs content -->
                <div class="panel-body">
                    <div class="tab-content"> 
                        <!-- PANEL 1-->
                        <div class="tab-pane fade in active" id="tab1-1">                              
                            <div class="row">
                                <div class="col-md-12"> 
                                    
                                    <div class="pull-left mb-5"><i class="fa fa-home"></i>: Sede principal.</div>
                                    <div class="pull-right mb-5">
                                        <a href="#" class="btn btn-primary btn-xs" ng-click="vm.openModal('new')"><i class="fa fa-plus"></i> Nueva sede</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                      
                                    <table class="table table-striped table-theme">
                                        <thead>
                                            <tr>
                                                <th width="20%"><strong>Sede</strong></th>
                                                <th width="24%"><strong>Direcci&oacute;n</strong></th>
                                                <th width="12%" class="hidden-xs "><strong>Tel&eacute;fono</strong></th>
                                                <th width="12%" class="hidden-xs"><strong>Celular</strong></th>
                                                <th width="22%" ><strong>Responsable</strong></th> 
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>                                                
                                            <tr data-ng-repeat="item in vm.others.sedes" >      
                                                <td>{{item.nombre}} <span ng-if="item.principal === '1'"  tooltip-placement="top" uib-tooltip="Sede principal"><i class="fa fa-home"></i></span></td>
                                                <td>{{item.direccion}}</td>
                                                <td class="hidden-xs">{{item.telefono}}</td>
                                                <td class="hidden-xs">{{item.celular}}</td>
                                                <td>{{item.entidad}}</td>  
                                                <td class="text-center">     
                                                    <div class="btn-group">
                                                        <a href="#" class="btn btn-primary btn-xs" tooltip-placement="top" uib-tooltip="Editar" ng-click="vm.openModal('edit', item);"><i class="fa fa-pencil"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" tooltip-placement="top" uib-tooltip="Eliminar" ng-click="vm.openModal('delete', item);"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </td>
                                            </tr> 
                                        </tbody>
                                    </table> 
                                </div>
                            </div>   
                        </div>   
                    </div>
                </div><!-- /.panel-body -->
                <!--/ End tabs content -->
            </div><!-- /.panel -->
            <!--/ End default tabs -->            
        </form>
    </div>
</div> 

