<style>
    .grid{ 
        width: 100%;
        height: 1020px;
    }  
    .required{
        color: #F00;
        font-size: 11px; 
    }    
    .searchlike{
        width: 300px; color:#000 !important; font-weight: bold;
    }
</style>

<script type="text/ng-template" id="myModalContent.html">  
    <form name="miForm" ng-submit="save();" novalidate>
    <div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-exclamation-triangle"></i></h3>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-xs-12 col-md-12">
    ¿Seguro de eliminar a: <strong>{{entidad.entidad}}</strong> ?
    </div>
    </div>
    </div>     
    <div class="modal-footer">            
    <button class="btn btn-primary" ng-disabled="miForm.$submitted">
    <span>Si, eliminar</span>  
    </button>    
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
    </form>
</script>

<script type="text/ng-template" id="myModalEyeContent.html">      
    <div class="modal-header">
        <h3 class="modal-title">{{vm.titulo}}</h3>
    </div>
    <div class="modal-body no-padding">
        <div class="row"> 
            <div class="col-md-12" data-ng-include="'partials/entidad.html'">  
            </div>
        </div>
    </div>     
    <div class="modal-footer">     
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
    </div> 
</script>

<div ng-show="$state.includes('{{vm.stateparent}}.list')">
    <div class="row">
        <div class="col-md-12">  
            <div class="mb-10">                 
                <form  ng-submit="vm.getPage()" class="form-horizontal">
                    <div class="pull-left" ng-show="!vm.searchNombre">
                        <div class="form-group no-margin no-padding has-feedback">                        
                            <input type="text" ng-model="vm.filter.likeentidad" class="form-control searchlike" placeholder="{{vm.entidaddesc}}">
                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                        </div> 
                    </div> 
                    <div class="pull-left" ng-show="!vm.searchTelefono">
                        <div class="form-group no-margin no-padding has-feedback">                        
                            <input type="text" ng-model="vm.filter.liketelefono" class="form-control searchlike" placeholder="Tel&eacute;fono">
                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                        </div> 
                    </div> 
                    <div class="pull-left" ng-show="!vm.searchHistoria">
                        <div class="form-group no-margin no-padding has-feedback">                        
                            <input type="text" ng-model="vm.filter.likehc" class="form-control searchlike" placeholder="Historia cl&iacute;nica">
                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                        </div> 
                    </div>
                    <div ng-if="vm.stateparent == 'cliente'">
                        <div class="pull-left ml-10 mt-5" ng-show="vm.searchNombre">
                            <a href="#" ng-click="vm.searchNombre=false; vm.searchTelefono=true; vm.searchHistoria=true; vm.filter.liketelefono='';vm.filter.likehc='';">Por nombres</a>
                        </div>
                        <div class="pull-left ml-10 mt-5" ng-show="vm.searchTelefono">
                            <a href="#" ng-click="vm.searchNombre=true; vm.searchTelefono=false; vm.searchHistoria=true; vm.filter.likeentidad='';vm.filter.likehc='';">Por tel&eacute;fono</a>
                        </div>
                        <div class="pull-left ml-10 mt-5" ng-show="vm.searchHistoria">
                            <a href="#" ng-click="vm.searchNombre=true; vm.searchTelefono=true; vm.searchHistoria=false; vm.filter.likeentidad='';vm.filter.liketelefono='';">Por historia</a>
                        </div>
                    </div>
                </form> 
                
                <div class="pull-right"  data-ng-include="'partials/pagination.html'"></div> 
                <div class="pull-right">                
                    <a ui-sref="#" class="btn btn-sm btn-theme" tooltip-placement="top" uib-tooltip="Ver" ng-if="vm.filaSelecciona.length === 1" ng-click="vm.openModal('eye', vm.filaSelecciona[0].identidad)"><i class="fa fa-eye"></i> </a>
                    <a href="#" class="btn btn-sm btn-danger" tooltip-placement="top" uib-tooltip="Eliminar" ng-if="vm.filaSelecciona.length == 1" ng-click="vm.openModal('delete', vm.filaSelecciona[0])"><i class="fa fa-trash-o"></i> </a>
                    <a ui-sref="{{vm.stateparent}}.edit({entidadId:vm.filaSelecciona[0].identidad})" class="btn btn-sm btn-warning" tooltip-placement="top" uib-tooltip="Editar" ng-if="vm.filaSelecciona.length === 1"><i class="fa fa-pencil"></i> </a>                    
                    <a ui-sref="{{vm.stateparent}}.new" class="btn btn-sm btn-primary">Nuevo</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize class="grid" style="background: #fff"></div>                
        </div>
    </div> 
</div>
<div ui-view></div>