<!--http://jsfiddle.net/simpulton/XqDxG/-->
<style>
    .required{
        color: #F00;
        font-size: 11px;
        padding: 0px;
        margin: 0px;
    }
    .grid{ 
        width: 100%;
        height: 385px;
    }
</style>
<script type="text/ng-template" id="myModalSelectProductoContent.html">  
    <div class="modal-header">
        <h3 class="modal-title">Productos</h3>
    </div>
    <div class="modal-body"> 
        <div class="row" >
            <div class="col-md-12"> 
                <div class="mb-10">                 
                    <form ng-submit="vm.getPage()" class="form-horizontal">
                        <div class="pull-left">
                            <div class="form-group no-margin no-padding has-feedback">                        
                                <input type="text" ng-model="vm.filter.likeproducto" class="form-control" placeholder="Producto" style="width: 300px; color:#000 !important; font-weight: bold" >
                                <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                            </div> 
                        </div> 
                    </form>
                    <div class="pull-right"  data-ng-include="'partials/pagination.html'"></div>                     
                    <div class="clearfix"></div>
                </div>
                <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize class="grid" style="background: #fff"></div>                
            </div>
        </div>      
    </div>
    <div class="modal-footer"> 
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>

<script type="text/ng-template" id="myModalGuiaSubitemsContent.html">  
    <div class="modal-header">
        <h3 class="modal-title">Detalle de items</h3>
    </div>
    <div class="modal-body"> 
        <div class="row">
            <div class="col-md-12">             
                <label class="text-theme text-strong">Producto:</label> {{vm.producto }}
            </div>
        </div>      
        <div class="row">
            <div class="col-md-12 mb-10"> 
            <label class="text-theme text-strong">Unidad de medida</label> {{vm.unidadmedida }}
            </div>
        </div>
        <div class="row" ng-if="vm.fechavence">
            <div class="col-md-12 mb-10">
            <label><i class="fa fa-info-circle"></i> Fecha vence(yyyy-mm-dd)</label> 
            </div>
        </div>
        <div class="row" ng-if="vm.gridOptionsSubitems.data.length === 0">
            <div class="col-md-12 mb-5">
                <div class="callout callout-danger mb-5">
                    <strong>Stock: 0.</strong> No hay stock en almac&eacute;n para el producto.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"> 
                <div ui-grid="vm.gridOptionsSubitems"  ui-grid-edit ui-grid-cellNav ui-grid-resize-columns ui-grid-auto-resize style="background: #fff; height: 300px;"></div>                
            </div>
        </div>
    </div>
    <div class="modal-footer">         
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
    </div>
</script>

<div class="row">             
    <div class="col-md-12"> 
        <form name="miForm" ng-submit="vm.save();" novalidate>
            <div class="panel rounded shadow no-margin">            
                <div class="panel-heading">
                    <div class="pull-left">
                        <a ui-sref="{{vm.stateparent}}.list" class="btn btn-danger btn-sm"><i class="fa fa-arrow-left"></i> Volver</a>                            
                    </div>
                    <div class="pull-right">                        
                        <button class="btn btn-theme btn-sm" ng-disabled="miForm.$invalid || miForm.$submitted"><i class="fa fa-floppy-o"></i> Grabar</button>
                    </div>
                    <div class="clearfix"></div>
                </div>     
                 <div class="panel-body">
                <h4>Guía de {{vm.stateparent === 'guia' && 'entrada' || 'salida'}} </h4>
                <div class="row">
                    <div class="col-md-12">                        
                        <label class="col-sm-2 col-xs-6 control-label">Número: <span class="asterisk">*</span></label>
                        <div class="col-sm-4 col-xs-6">   
                            <input type="text" name="serienumero" ng-model="vm.guia.serienumero" class="form-control input-sm mb-5" disabled="" required/>
                            <div ng-messages="miForm.serienumero.$error" class="required" role="alert" ng-show="miForm.serienumero.$dirty">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </div>                                    
                        <label class="col-sm-2 col-xs-6 control-label">Fecha gu&iacute;a: <span class="asterisk">*</span></label>
                        <div class="col-sm-4 col-xs-6">                                          
                            <input data-input-mask type="text" name="fechadocumento" ng-model="vm.guia.fechadocumento" maxlength="10" class="form-control input-sm mb-5" data-inputmask="'alias': 'dd/mm/yyyy'" disabled>
<!--                            <div ng-messages="miForm.fechadocumento.$error" class="required" role="alert" ng-show="miForm.fechadocumento.$dirty">
                                <div ng-message="required">El campo es requerido</div>
                                <div ng-message="minlength">Debe ser 10 caracteres</div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">                        
                        <label class="col-sm-2 col-xs-6 control-label">Documento vinculo:</label>
                        <div class="col-sm-4 col-xs-6">   
                            <a href="#">Vinculo</a>                                            
                        </div>
                        <label class="col-sm-2 col-xs-6 control-label">Personal: <span class="asterisk">*</span></label>
                        <div class="col-sm-4 col-xs-6">       
                            <select name="identidaddocumento"  ng-model="vm.guia.identidaddocumento" ng-options="item.identidad as item.entidad for item in vm.others.personal" class="form-control input-sm mb-5" required>
                                <option value="">- Seleccione - </option>
                            </select>                                    
                            <div ng-messages="miForm.identidaddocumento.$error" class="required" role="alert" ng-show="miForm.identidaddocumento.$dirty">
                                <div ng-message="required">El campo es requerido</div>
                            </div>                                        
                        </div>
                    </div>
                </div>                             
                <div class="row">
                    <div class="col-md-12">                                    
                        <label class="col-sm-2 col-xs-6 control-label">Nota:</label>   
                        <div class="col-sm-4 col-xs-6">
                            <textarea class="form-control" rows="3" ng-model="vm.guia.observacion"></textarea>
                        </div>   
                        <label class="col-sm-2 col-xs-6 control-label">Estado: <span class="asterisk">*</span></label>
                        <div class="col-sm-4 col-xs-6">       
                            <select name="idestadodocumento"  ng-model="vm.guia.idestadodocumento" ng-options="item.idestadodocumento as item.nombre for item in vm.others.estadodocumentos" class="form-control input-sm mb-5" required>                                           
                            </select>                                    
                            <div ng-messages="miForm.idestadodocumento.$error" class="required" role="alert" ng-show="miForm.idestadodocumento.$dirty">
                                <div ng-message="required">El campo es requerido</div>
                            </div>                                      
                        </div>
                    </div>
                </div> 
                <h4>Detalle de gu&iacute;a</h4>  
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <div class="callout callout-info mb-5">
                            <code>Cantidad: </code>Utilize teclas de desplazamiento <i class="fa fa-long-arrow-down"></i> <i class="fa fa-long-arrow-up"></i> para ingreso r&aacute;pido. Enter para salto.<br> 
                            <code><i class="fa fa-info-circle"></i></code>Cantidad debe ser entero, sino se redondear&aacute al m&iacute;nimo valor.<br> 
                            <code><i class="fa fa-book"></i></code>Especificar fecha de vencimiento y cantidad. 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> 
                        <div ui-grid="vm.miBoleta" ui-grid-auto-resize ui-grid-resize-columns ui-grid-cellNav ui-grid-edit class="grid"></div>                        
                    </div>                                    
                </div>
            </div> 
            </div>
        </form>
    </div>
</div> 