<style>
    .grid{ 
        width: 100%;
        height: 1020px;
    }    
    .morado{
        color: #F00 !important;
    }
</style>  
<script type="text/ng-template" id="myModalContent.html">  
    <form name="miForm" ng-submit="save();" novalidate>
    <div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-exclamation-triangle"></i></h3>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-xs-12 col-md-12">
    ¿Seguro de eliminar guía de {{tipodeguia}} N°: <strong>{{serienumero}}</strong> ?
    </div>
    </div>
    </div>     
    <div class="modal-footer">            
    <button class="btn btn-primary" ng-disabled="miForm.$submitted">
    <span>Si, eliminar</span>  
    </button>    
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
    </form>
</script> 

<div ng-show="$state.includes('{{vm.stateparent}}.list')">
    <div class="row">
        <div class="col-md-12"> 
            <div class="mb-10">                 
                <form ng-submit="vm.getPage()" class="form-horizontal">
                    <div class="pull-left" ng-show="vm.searchNGuia">
                        <div class="form-group no-margin no-padding has-feedback">                        
                            <input type="text" ng-model="vm.filter.numero" class="form-control" placeholder="N° guía" style="width: 300px; color:#000 !important; font-weight: bold" >
                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                        </div>
                    </div>
                    <div class="pull-left mt-5" ng-show="!vm.searchNGuia">                        
                        Desde: 
                    </div>
                    <div class="pull-left" ng-show="!vm.searchNGuia">                        
                        <input data-input-mask type="text" ng-model="vm.filter.desde" maxlength="10" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" style="width: 120px; color:#000 !important; font-weight: bold;" />                                                
                    </div>
                    <div class="pull-left ml-10 mt-5" ng-show="!vm.searchNGuia">
                        Hasta:
                    </div>
                    <div class="pull-left" ng-show="!vm.searchNGuia">
                        <div class="form-group no-margin no-padding has-feedback">                        
                            <input data-input-mask type="text" ng-model="vm.filter.hasta" maxlength="10" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" style="width: 140px; color:#000 !important; font-weight: bold;" >
                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                        </div>
                    </div>
                    <div class="pull-left ml-10 mt-5" ng-show="!vm.searchNGuia"> 
                        <a href="#" ng-click="vm.searchNGuia=true; vm.filter.desde = ''; vm.filter.hasta = '';">Por N° guía</a>
                    </div> 
                    <div class="pull-left ml-10 mt-5" ng-show="vm.searchNGuia">
                        <a href="#" ng-click="vm.searchNGuia=false; vm.filter.numero = '';">Por fechas</a>
                    </div>                     
                </form>
                <div class="pull-right"  data-ng-include="'partials/pagination.html'"></div> 
                <div class="pull-right">                    
                    <a href="#" class="btn btn-sm btn-danger" tooltip-placement="top" uib-tooltip="Eliminar" ng-if="vm.filaSelecciona.length == 1" ng-click="vm.openModal('delete', vm.filaSelecciona[0])"><i class="fa fa-trash-o"></i> </a>
                    <a ui-sref="{{vm.stateparent}}.edit({guiaId: vm.filaSelecciona[0].idguia})" class="btn btn-sm btn-warning" tooltip-placement="top" uib-tooltip="Editar" ng-if="vm.filaSelecciona.length === 1"><i class="fa fa-pencil"></i> </a>
                    <a ui-sref="{{vm.stateparent}}.new" class="btn btn-sm btn-primary"> Nuevo</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize class="grid" style="background: #fff"></div>                
        </div>
    </div> 
</div>
<div ui-view></div>