  <script type="text/ng-template" id="myModalSelectProductoContent.html">  
    <div class="modal-header">
    <h3 class="modal-title">Productos</h3>
    </div>
    <div class="modal-body"> 
    <div class="row" >
    <div class="col-md-12"> 
    <div class="mb-10">                 
    <form ng-submit="vm.getPage()" class="form-horizontal">
    <div class="pull-left">
    <div class="form-group no-margin no-padding has-feedback">                        
    <input type="text" ng-model="vm.filter.likeproducto" class="form-control" placeholder="Producto" style="width: 300px; color:#000 !important; font-weight: bold" >
    <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
    </div> 
    </div> 
    </form>
    <div class="pull-right"  data-ng-include="'partials/pagination.html'"></div>                     
    <div class="clearfix"></div>
    </div>
    <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize class="grid" style="background: #fff"></div>                
    </div>
    </div>      
    </div>
    <div class="modal-footer"> 
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>

<div class="row">             
    <div class="col-md-12">  
        <div class="panel rounded shadow no-margin">            
            <div class="panel-heading">                    
                <div class="pull-left">
                    <h3 class="panel-title">Ficha kardex</h3>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-primary btn-sm" ng-click="vm.openModal()"><i class="fa fa-search"></i> Buscar</a>
                </div>
                <div class="clearfix"></div>
            </div>    
            <div class="panel-body">
                <h4>Producto</h4>
                <div class="row">
                    <div class="col-md-12">                        
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Código:</label>
                        <div class="col-sm-4 col-xs-6">   
                            <span>{{vm.producto.codigo}}</span>
                        </div>
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Categor&iacute;a:</label>
                        <div class="col-sm-4 col-xs-6">  
                            <span>{{vm.producto.categoria}}</span>                                        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">                                        
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Producto:</label> 
                        <div class="col-sm-10 col-xs-6"> 
                            <span>{{vm.producto.nombre}}</span>                                 
                        </div>
                         
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> 
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Unidad medida:</label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.producto.unidadmedidaabrev}}</span>
                        </div> 
                        <label class="col-sm-2 col-xs-6 control-label text-theme">Stock m&iacute;nimo:</label> 
                        <div class="col-sm-4 col-xs-6">
                            <span>{{vm.producto.stockmin}}</span>
                        </div> 
                    </div>
                </div>

                <h4 class="mt-10">Kardex</h4>
                <div class="row">
                    <div class="col-md-12">

                        <table class="table table-theme">
                            <thead>
                                <tr>                                    
                                    <th width="7%"></th>
                                    <th width="12%"><strong>Fecha</strong></th>
                                    <th width="30%"><strong>Documento</strong></th>
                                    <th width="19%"><strong>N° documento</strong></th>
                                    <th width="12%"><strong>Entradas</strong></th>
                                    <th width="12%"><strong>Salidas</strong></th>
                                    <th width="22%"><strong>Existencia</strong></th> 
                                </tr>
                            </thead>
                            <tbody>                                                
                                <tr data-ng-repeat="item in vm.kardex" >  
                                    
                                    <td>
                                        <i class="fa fa-file-text-o" ng-if="item.movimiento === 'S'"></i>
                                        <i class="fa fa-arrow-left" ng-if="item.movimiento === 'S'"></i>
                                        <i class="fa fa-arrow-right" ng-if="item.movimiento === 'I'"></i>
                                        <i class="fa fa-file-text-o" ng-if="item.movimiento === 'I'"></i>
                                    </td>
                                    <td>{{ item.fechadocumento}}</td>
                                    <td>{{ item.documento}}</td>
                                    <td>N° {{ item.numero}}</td>
                                    <td>{{ item.entradas | number}}</td>
                                    <td>{{ item.salidas | number}}</td>
                                    <td>{{ item.existencias | number}}</td> 
                                </tr> 
                                <tr data-ng-show="vm.kardex.length === 0">  
                                    <td colspan="6" class="text-center"><a href="#" ng-click="vm.openModal()">Seleccione producto.</a></td>
                                </tr> 
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" class="text-right"><span class="text-strong">Totales:</span> </td>
                                    <td><span class="text-strong">{{ vm.totales.entradas}}</span></td>
                                    <td><span class="text-strong">{{ vm.totales.salidas}}</span></td>
                                    <td><span class="text-strong">{{ vm.totales.existencias}}</span></td>
                                </tr>
                            </tfoot>
                        </table> 
                    </div>
                </div>

            </div>
        </div> 
    </div>
</div>   