<div class="modal-header">
    <button type="button" class="close"  ng-click="$close()">&times;</button>
    <h4 class="modal-title">Est&aacute;s seguro?</h4>
</div>
<div class="modal-body">
    No será capaz de recuperar este registro: {{ vm.producto }}.
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" ng-click="vm.delete()">Sí, eliminar!</button>
    <button class="btn btn-default btn-sm" ng-click="$close()">Cancelar</button>
</div>