<style>
    .required{
        color: #F00;
        font-size: 11px; 
    }
</style>
<script type="text/ng-template" id="myModalContent.html">  
<form name="miForm" ng-submit="vm.save();" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Módulo</h3>
    </div>
    <div class="modal-body" ng-if = "vm.accion"> 
        <div class="row">
            <div class="col-xs-12 col-md-12">
                ¿Seguro de eliminar: {{vm.modulo.nombre}} ?
            </div>
        </div>
    </div> 
    <div class="modal-body" ng-if = "!vm.accion"> 
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>M&oacute;dulo: <span class="asterisk">*</span></label>                        
                <input type="text" name="nombre"  class="form-control input-sm" maxlength="30" ng-model="vm.modulo.nombre" required> 
                <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div>
        <div class="row">        
            <div class="form-group col-xs-6 col-md-6">                  
                <label>Ícono: <i class="{{vm.modulo.icono}}"></i></label>                 
                <input type="text" name="icono" class="form-control" maxlength="20" ng-model="vm.modulo.icono">
            </div> 
        </div>
        <div class="row"> 
            <div class="form-group col-xs-6 col-md-6">     
                <label>Ordenn: <span class="asterisk">*</span></label> 
                <input type="number" name="orden" class="form-control"  maxlength="2" ng-model="vm.modulo.orden" ng-change="vm.soloNumero();" required> 
                <div ng-messages="miForm.orden.$error" class="required" role="alert" ng-show="miForm.orden.$dirty">
                    <div ng-message="required">El campo es requerido</div> 
                </div>
            </div>
        </div>     
        <div class="row"> 
            <div class="form-group col-xs-12 col-md-12">     
                 ** Ej."fa fa-star" <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank" >M&aacute;s info.</a>
            </div>
        </div>     
    </div>
    <div class="modal-footer">            
        <button class="btn btn-primary" ng-disabled="miForm.$invalid || miForm.$submitted">
            <span ng-if = "vm.accion">Si, eliminar</span>
            <span ng-if = "!vm.accion">Guardar</span>        
        </button>    
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</form>
</script>

<script type="text/ng-template" id="myModalContentMenu.html">
<form name="miForm" ng-submit="vm.save();" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Men&uacute;</h3>
    </div>
    <div class="modal-body" ng-if = "vm.accion"> 
        <div class="row" >
            <div class="col-xs-12 col-md-12">
                ¿Seguro de eliminar: {{vm.modulo.nombre}} ?
            </div>
        </div>
    </div>

    <div class="modal-body" ng-if = "!vm.accion"> 
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>M&oacute;dulo: <span class="asterisk">*</span></label>                    
                <select name="parent" ng-model="vm.modulo.parent" ng-options="item.id as item.name for item in vm.others.modulos" class="form-control input-sm" required>
                    <option value="">- Seleccione -</option>
                </select>
                <div ng-messages="miForm.parent.$error" class="required" role="alert" ng-show="miForm.parent.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>Men&uacute;: <span class="asterisk">*</span></label>                        
                <input type="text" name="nombre"  class="form-control input-sm" maxlength="30" ng-model="vm.modulo.nombre" required> 
                <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div>
        <div class="row">        
            <div class="form-group col-xs-6 col-md-6">  
                <label>Ícono:** <i class="{{vm.modulo.icono}}"></i></label> 
                <input type="text" name="icono" class="form-control" maxlength="20" ng-model="vm.modulo.icono">
            </div> 
        </div>
        <div class="row"> 
            <div class="form-group col-xs-6 col-md-6">     
                <label>Orden: <span class="asterisk">*</span></label> 
                <input type="number" name="orden" class="form-control" maxlength="2" ng-model="vm.modulo.orden" ng-change="vm.soloNumero();" required> 
                <div ng-messages="miForm.orden.$error" class="required" role="alert" ng-show="miForm.orden.$dirty">
                    <div ng-message="required">El campo es requerido</div> 
                </div>
            </div>
        </div>    
        <div class="row"> 
            <div class="form-group col-xs-12 col-md-12">     
                 ** Ej."fa fa-star" <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank" >M&aacute;s info.</a>
            </div>
        </div>
    </div>
    <div class="modal-footer">            
        <button class="btn btn-primary" ng-disabled="miForm.$invalid || miForm.$submitted">
            <span ng-if = "vm.accion">Si, eliminar</span>
            <span ng-if = "!vm.accion">Guardar</span>        
        </button>    
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</form>
</script>

<script type="text/ng-template" id="myModalContentOpcion.html">
<form name="miForm" ng-submit="vm.save();" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Opci&oacute;n</h3>
    </div>
    <div class="modal-body" ng-if = "vm.accion"> 
        <div class="row" >
            <div class="col-xs-12 col-md-12">
                ¿Seguro de eliminar: {{vm.modulo.nombre}} ?
            </div>
        </div>
    </div>

    <div class="modal-body" ng-if = "!vm.accion">            
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>M&oacute;dulo: <span class="asterisk">*</span></label>                 
                <select name="Tmpmodulo" ng-model="vm.Tmpmodulo" ng-options="item.id as item.name for item in vm.others.modulos" class="form-control input-sm" required  ng-disabled="vm.modulo.idmodulo" ng-change="vm.mimenuChange()">
                    <option value="">- Seleccione -</option>
                </select>
                <div ng-messages="miForm.Tmpmodulo.$error" class="required" role="alert" ng-show="miForm.Tmpmodulo.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12"> 
                <label>Men&uacute;: <span class="asterisk">*</span></label>    
                <select name="parent" ng-model="vm.modulo.parent" ng-options="item.id as item.name for item in vm.others.modulos[vm.indexModuloSelected].menus" class="form-control input-sm" required>
                    <option value="">- Seleccione -</option>
                </select>
                <div ng-messages="miForm.parent.$error" class="required" role="alert" ng-show="miForm.parent.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div> 
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>Opci&oacute;n: <span class="asterisk">*</span></label>                        
                <input type="text" name="nombre"  class="form-control input-sm" maxlength="30" ng-model="vm.modulo.nombre" required> 
                <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="form-group col-xs-6 col-md-6">     
                <label>Orden: <span class="asterisk">*</span></label> 
                <input type="number" name="orden" class="form-control" maxlength="2" ng-model="vm.modulo.orden" ng-change="vm.soloNumero();" required> 
                <div ng-messages="miForm.orden.$error" class="required" role="alert" ng-show="miForm.orden.$dirty">
                    <div ng-message="required">El campo es requerido</div>                    
                </div>
            </div>
        </div>
        <div class="row">        
            <div class="form-group col-xs-12 col-md-12">  
                <label>Url: <span class="asterisk">*</span></label> 
                <input type="text" name="url" class="form-control" maxlength="50" ng-model="vm.modulo.url" required>
                <div ng-messages="miForm.url.$error" class="required" role="alert" ng-show="miForm.url.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div> 
        </div>
    </div>
    <div class="modal-footer">            
        <button class="btn btn-primary" ng-disabled="miForm.$invalid || miForm.$submitted">
            <span ng-if = "vm.accion">Si, eliminar</span>
            <span ng-if = "!vm.accion">Guardar</span>        
        </button>    
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</form>
</script>

<div class="row">             
    <div class="col-md-12">     
        <div class="panel rounded shadow no-margin">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Módulos, menús y opciones</h3>
                </div>
                <div class="pull-right">
                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-theme btn-sm" uib-dropdown-toggle>
                            Nuevo <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" class="pull-right">
                            <li role="menuitem"><a href="#" ng-click="vm.openModal('modulo', 'new')">Módulo</a></li>
                            <li role="menuitem"><a href="#" ng-click="vm.openModal('menu', 'new')">Menú</a></li>
                            <li role="menuitem"><a href="#" ng-click="vm.openModal('opcion', 'new')">Opción</a></li> 
                        </ul>
                    </div>  
                </div> 
                <div class="clearfix"></div>
            </div>  
        </div>                  
        <!-- Start vertical tabs -->
        <div class="panel panel-tab panel-tab-double panel-tab-vertical row no-margin mb-15 rounded shadow">
            <!-- Start tabs heading -->
            <div class="panel-heading no-padding col-lg-3 col-md-3 col-sm-3">
                <ul class="nav nav-tabs">                            
                    <!--class="active"-->  
                    <li data-ng-repeat="modulo in vm.modulos" ng-class="{active: ($index === 0)}">
                        <a href="#tab3-{{$index}}" data-toggle="tab"> 
                            <i class="fa {{modulo.icon}}"></i>
                            <div>                                
                                <span>Módulo</span>
                                <span class="text-strong">{{modulo.name}}</span>
                            </div>                                       
                        </a>
                    </li>                             
                </ul>
            </div><!-- /.panel-heading -->
            <!--/ End tabs heading --> 

            <!-- Start tabs content -->
            <div class="panel-body col-lg-9 col-md-9 col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane fade" id="tab3-{{$index}}" data-ng-repeat="modulo in vm.modulosCopy" ng-class="{'in': ($index === 0), 'active': ($index === 0)}">                                                                
                        <div class="row">            
                            <div class="col-md-12"> 
                                <div class="mb-10">
                                    <div class="pull-left">                                                                
                                        <i class="fa {{modulo.icon}}"></i> <strong>M&oacute;dulo {{modulo.name}}</strong>
                                    </div>
                                    <div class="pull-right">                        
                                        <div class="btn-group">                            
                                            <a href="#" class="btn btn-xs" uib-tooltip="Editar m&oacute;dulo" ng-click="vm.openModal('modulo', 'edit', modulo)"><i class="fa fa-pencil"></i></a>
                                            <a href="#"  class="btn btn-xs" uib-tooltip="Eliminar m&oacute;dulo" ng-click="vm.openModal('modulo', 'delete', modulo)"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">            
                            <div class="col-md-6" data-ng-repeat="menu in modulo.menus"> 
                                <div class="mb-10" style="width: 100%">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 70px;">   
                                                <div class="btn-group">                            
                                                    <a href="#" class="btn btn-xs" uib-tooltip="Editar men&uacute;" ng-click="vm.openModal('menu', 'edit', menu)"><i class="fa fa-pencil"></i></a>
                                                    <a href="#"  class="btn btn-xs" uib-tooltip="Eliminar men&uacute;" ng-click="vm.openModal('menu', 'delete', menu)"><i class="fa fa-times"></i></a>
                                                </div>
                                                </th>
                                                <th> <i class="fa {{menu.icon}}"></i> <strong>{{menu.name}}</strong> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="opcion in menu.options">
                                                <td class="text-center">                                                    
                                                    <div class="btn-group">                                                        
                                                        <a href="#" class="btn btn-xs" uib-tooltip="Editar opci&oacute;n" ng-click="vm.openModal('opcion', 'edit', opcion)"><i class="fa fa-pencil"></i></a>
                                                        <a href="#"  class="btn btn-xs" uib-tooltip="Eliminar opci&oacute;n" ng-click="vm.openModal('opcion', 'delete', opcion)"><i class="fa fa-times"></i></a>                                                        
                                                    </div>
                                                </td>
                                                <td>{{opcion.name}}</td> 
                                            </tr> 
                                        </tbody>
                                    </table>
                                </div><!-- /.table-responsive -->
                            </div>                                    
                        </div>   
                    </div>
                </div>
            </div><!-- /.panel-body -->
            <!--/ End tabs content -->
        </div><!-- /.panel -->
        <!--/ End vertical tabs -->    
    </div>
</div> 