<div class="row">             
    <div class="col-md-12">
        <form name="miForm" ng-submit="vm.save();" novalidate>  
            <div class="panel rounded shadow no-margin">
                <div class="panel-heading">
                    <div class="pull-left">                        
                        <a ui-sref="perfiles.list" class="btn btn-danger btn-sm"><i class="fa fa-arrow-left"></i> Volver</a>                            
                    </div>
                    <div class="pull-right">    
                        <button class="btn btn-theme btn-sm" ng-disabled="miForm.$submitted"><i class="fa fa-floppy-o"></i> Grabar</button>
                    </div>
                    <div class="clearfix"></div>
                </div>  
                <div class="panel-body rounded-bottom">
                    <h4>Perfil</h4>
                    <div class="row">
                        <div class="col-md-12">                            
                            <label class="col-sm-2 col-xs-6 control-label">Nombre:</label>
                            <div class="col-sm-10 col-xs-6">                                            
                                {{vm.perfil.nombre}}                                    
                            </div> 

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">                            
                            <label class="col-sm-2 col-xs-6 control-label">Descripci&oacute;n:</label>
                            <div class="col-sm-10 col-xs-6">                                            
                                {{vm.perfil.descripcion}}
                            </div>                                 
                        </div>
                    </div>
                    <h4>Opciones de acceso</h4>
                </div>
            </div>                  
            <!-- Start vertical tabs -->
            <div class="panel panel-tab panel-tab-double panel-tab-vertical row no-margin mb-15 rounded shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding col-lg-3 col-md-3 col-sm-3">
                    <ul class="nav nav-tabs">                            
                        <!--class="active"-->  
                        <li data-ng-repeat="modulo in vm.modulosEmpresa" ng-class="{active: ($index === 0)}">
                            <a href="#tab3-{{$index}}" data-toggle="tab">                                     
                                <i class="fa {{modulo.icon}}"></i>
                                <div>                                
                                    <span>Módulo</span>
                                    <span class="text-strong">{{modulo.name}}</span>
                                </div>
                            </a>
                        </li>                             
                    </ul>
                </div><!-- /.panel-heading -->
                <!--/ End tabs heading -->
                
                <!-- Start tabs content -->
                <div class="panel-body col-lg-9 col-md-9 col-sm-9">
                    <div class="tab-content">
                        <div class="tab-pane fade " id="tab3-{{$index}}" data-ng-repeat="modulo in vm.modulosEmpresa" ng-class="{'in': ($index === 0), 'active': ($index === 0)}" >
                            <div class="row">            
                                <div class="col-md-6" data-ng-repeat="menu in modulo.menus"> 
                                    <div class="table-responsive mb-10" style="width: 100%">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 50px;">   
                                                        <div class="ckbox ckbox-default rounded">
                                                            <input id="checkbox-type-rounded{{menu.id}}" type="checkbox" data-checklist-model="vm.perfilmodulo" data-checklist-value="{idmodulo: menu.id, nombre: menu.name}" data-ng-change="vm.marcarTodos({{menu}}, 'opciones')">
                                                            <label for="checkbox-type-rounded{{menu.id}}"></label>
                                                        </div>                                                         
                                                    </th>
                                                    <th><strong>{{menu.name}}</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="opcion in menu.options">
                                                    <td class="text-center">                                                    
                                                        <div class="ckbox ckbox-default rounded">
                                                            <input id="checkbox-type-rounded{{opcion.id}}" type="checkbox" data-checklist-model="vm.perfilmodulo" data-checklist-value="{idmodulo: opcion.id, nombre: opcion.name}">
                                                            <label for="checkbox-type-rounded{{opcion.id}}"></label>
                                                        </div>                                                        
                                                    </td>
                                                    <td>{{opcion.name}}</td> 
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div><!-- /.table-responsive -->
                                </div>                                    
                            </div>   
                        </div>
                    </div>
                </div><!-- /.panel-body -->
                <!--/ End tabs content -->
            </div><!-- /.panel -->
            <!--/ End vertical tabs -->  
        </form>
    </div>
</div> 