<style> 
    .grid{ 
        width: 100%;
        height: 1020px;
    }  
    .required{
        color: #F00;
        font-size: 11px; 
    }
</style>   
<script type="text/ng-template" id="myModalContent.html">  
<form name="miForm" ng-submit="save();" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Perfil de sistema</h3>
    </div>
    <div class="modal-body" ng-if = "accion"> 
        <div class="row">
            <div class="col-xs-12 col-md-12">
                ¿Seguro de eliminar: {{perfil.nombre}} ?
            </div>
        </div>
    </div> 
    <div class="modal-body" ng-if = "!accion"> 
        <div class="row" >
            <div class="form-group col-xs-12 col-md-12">
                <label>Nombre: <span class="asterisk">*</span></label>                        
                <input type="text" name="nombre"  class="form-control input-sm" maxlength="30" ng-model="perfil.nombre" required> 
                <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </div>
        </div>
        <div class="row">        
            <div class="form-group col-xs-12 col-md-12">  
                <label>Descripcion:</label> 
                <textarea class="form-control" rows="5" ng-model="perfil.descripcion"></textarea>
            </div>  
        </div>     
    </div>
    <div class="modal-footer">            
        <button class="btn btn-primary" ng-disabled="miForm.$invalid || miForm.$submitted">
            <span ng-if = "accion">Si, eliminar</span>
            <span ng-if = "!accion">Guardar</span>        
        </button>    
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</form>
</script>
<div ng-show="$state.includes('perfiles.list')">
<div class="row">            
    <div class="col-md-12"> 
        <div class="mb-10">                 
            <form  ng-submit="vm.getPage()" class="form-horizontal">
                <div class="pull-left">                    
                    <div class="form-group no-margin no-padding has-feedback">                        
                        <input type="text" ng-model="vm.filter.likenombre" class="form-control" placeholder="Nombre" style="width: 300px; color:#000 !important; font-weight: bold;">
                        <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                    </div>
                </div>
            </form>             
            <div class="pull-right"  data-ng-include="'partials/pagination.html'"></div> 
            <div class="pull-right">                                        
                <a href="#" class="btn btn-sm btn-danger" tooltip-placement="top" uib-tooltip="Eliminar" ng-if="vm.filaSelecciona.length == 1" ng-click="vm.openModal('delete', vm.filaSelecciona[0])"><i class="fa fa-trash-o"></i> </a>
                <a href="#" class="btn btn-sm btn-warning" tooltip-placement="top" uib-tooltip="Editar" ng-if="vm.filaSelecciona.length === 1" ng-click="vm.openModal('edit', vm.filaSelecciona[0])"><i class="fa fa-pencil"></i> </a>
                <a href="#" class="btn btn-sm btn-primary" ng-click="vm.openModal('new')"> Nuevo</a>                
            </div>
            <div class="clearfix"></div>
        </div>        
        <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize class="grid" style="background: #fff"></div>                
    </div>
</div> 
</div>
<div ui-view></div>