<div id="dtBox"></div>
<div align="center">
  <table  class="table">
  <tr class="success">
    <td colspan="4">Detalle</td>
  </tr>
  <tr>
    <td colspan="4">
      <textarea id="detalle" name="detalle" rows="2" cols="35"></textarea> 
    </td>
  </tr>
    <tr class="success">
      <td><strong>Fecha Desde</strong></td>
      <td><strong>Hora Desde</strong></td>
      <td><strong>Fecha Hasta</strong></td>
      <td><strong>Fecha Hasta</strong></td>
    </tr>
    <tr>
      
      <td><input type="text" defaultDate data-field="date" id="fecha_desde" dateFormat="dd-mm-yyyy" name="fecha_desde" ></td>
      <td><input type="text" data-field="time" data-format="hh:mm AA" id="hora_desde" name="hora_desde" ></td>
      <td><input type="text" defaultDate data-field="date" dateFormat="dd-mm-yyyy" id="fecha_hasta" name="fecha_hasta" ></td>
      <td><input type="text" data-field="time" data-format="hh:mm AA" id="hora_hasta" name="hora_hasta" ></td>
    </tr>

  </table>
</div>
<br>
<div id='calendar'></div>
<script>

   // initialize input widgets first
  $(document).ready(function() {
    

    $("#dtBox").DateTimePicker({
      language: "es",

    });


    $('#calendar').fullCalendar({

       eventClick: function(calEvent, jsEvent, view) {

        alert('Event: ' + calEvent.title);
        alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        alert('View: ' + view.name);

        // change the border color just for fun
        $(this).css('border-color', 'red');

    },

    eventMouseover: function(event, jsEvent, view) {
    $('.fc-event-inner', this).append('<div id=\"'+event.id+'\" >Hola</div>');
    },

    eventMouseout: function(event, jsEvent, view) {
    $('#'+event.id).remove();
    },

    eventDrop: function(event, delta, revertFunc) {

        alert(event.title + " was dropped on " + event.start.format());

        if (!confirm("Are you sure about this change?")) {
            revertFunc();
        }

    },

    views: {
        basic: {
            // options apply to basicWeek and basicDay views
        },
        agenda: {
            // options apply to agendaWeek and agendaDay views
        },
        agendaWeek: {
            // options apply to basicWeek and agendaWeek views
        },
        day: {
            // options apply to basicDay and agendaDay views
        }
    },


      header: {
        left: 'prev,next today',
        center: 'title',
        //right: 'month,agendaWeek,agendaDay'
      },
     
      defaultView: 'agendaWeek',
      aspectRatio: 1.8,
      nowIndicator:true,
      defaultDate: '2016-03-03',
      scrollTime: '10:00',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      height : 500,
      lang: 'es',
      timeFormat: 'H:mm',
      minTime:"10:00",
      maxTime:"20:00",
      slotDuration: '00:15:00',
      resourceAreaWidth: '30%',
      events: [
        {
          
          title: 'All Day Event',
          start: '2016-01-01',

        },
        {
          title: 'Long Event',
          start: '2016-01-07',
          end: '2016-01-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2016-01-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2016-01-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2016-01-11',
          end: '2016-01-13'
        },
        {
          title: 'Meeting',
          start: '2016-01-12T10:30:00',
          end: '2016-01-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2016-01-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2016-01-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2016-01-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2016-01-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2016-01-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2016-01-28'
        },
        
      ],
      
      
      
    });
    
  });

  

</script>

