<style>
    .required{
        color: #F00;
        font-size: 11px;
        padding: 0px;
        margin: 0px;
    }
</style>
<script type="text/ng-template" id="myModalCategoriaContent.html">  
    <form name="miForm" ng-submit="save();" novalidate>
    <div class="modal-header">
    <h3 class="modal-title">{{titulo}}</h3>
    </div>
    <div class="modal-body"> 
    <div class="row" >
    <div class="col-xs-12 col-md-12">
    <label>Categoria seleccionada:</label>                
    <code>( {{seleccionado}} )</code> 
    </div>
    </div>   

    <div class="row" >
    <div class="form-group col-xs-12 col-md-12">

    <treecontrol class="tree-classic no-margin no-padding"
    on-selection="nodeSelect(node, selected)"
    tree-model="categorias"
    options="treeOptions">
    {{node.nombre}}                    
    </treecontrol>  

    </div>
    </div>    
    </div>
    <div class="modal-footer">            
    <button class="btn btn-primary">
    <span>Aceptar</span>        
    </button>    
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
    </form>
</script>
<div class="row">             
    <div class="col-md-12"> 
        <form name="miForm" ng-submit="vm.save();" novalidate>
            <div class="panel rounded shadow no-margin">            
                <div class="panel-heading">
                    <div class="pull-left">
                        <a ui-sref="producto.list" class="btn btn-danger btn-sm"><i class="fa fa-arrow-left"></i> Volver</a>                            
                    </div>
                    <div class="pull-right">                        
                        <button class="btn btn-theme btn-sm" ng-disabled="miForm.$invalid || miForm.$submitted"><i class="fa fa-floppy-o"></i> Grabar</button>
                    </div>
                    <div class="clearfix"></div>
                </div>     
            </div><!-- /.panel -->

            <!-- Start default tabs -->
            <div class="panel panel-tab  panel-tab-double rounded shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1-1" data-toggle="tab">                                
                                <i class="fa fa-info-circle"></i>
                                <div>
                                    <span class="text-strong">Datos</span>
                                    <span>Información general</span>
                                </div>
                            </a>
                        </li>                          
                    </ul>
                </div><!-- /.panel-heading -->
                <!--/ End tabs heading --> 

                <!-- Start tabs content -->
                <div class="panel-body">
                    <div class="tab-content"> 
                        <div class="tab-pane fade in active" id="tab1-1"> 
                            <h4>Datos generales</h4>
                            <div class="row">
                                <div class="col-md-12">                        
                                    <label class="col-sm-2 col-xs-6 control-label">Código:</label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="text" name="codigo" ng-model="vm.producto.codigo" class="form-control input-sm mb-5"/>
                                    </div>                                                                       
                                    <label class="col-sm-2 col-xs-6 control-label">Categor&iacute;a:</label> 
                                    <div class="col-sm-4 col-xs-6">                                          
                                        <div class="input-group no-margin no-padding  mb-5">
                                            <input class="form-control input-sm" type="text" ng-model="vm.producto.categoria" disabled>
                                            <span class="input-group-btn"><button type="button" class="btn btn-primary btn-sm" ng-click="vm.openModal('new', {idtipoproducto: vm.producto.idtipoproducto, idarbol: vm.producto.idarbol, categoria: vm.producto.categoria})"><i class="fa fa-folder-open"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                                                                                
                                    <label class="col-sm-2 col-xs-6 control-label">Producto: <span class="asterisk">*</span></label>
                                    <div class="col-sm-10 col-xs-6">
                                        <input type="text" name="nombre" ng-model="vm.producto.nombre" class="form-control input-sm mb-5" required/>
                                        <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-12">                                                                                                
                                    <label class="col-sm-2 col-xs-6 control-label">Localizaci&oacute;n:</label>
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="text" name="localizacion" ng-model="vm.producto.localizacion" class="form-control input-sm mb-5" />
                                    </div>
                                    <label class="col-sm-2 col-xs-6 control-label">Tipo producto:</label>
                                    <div class="col-sm-4 col-xs-6">
                                        <div class="rdio rdio-theme circle radio-inline" >
                                            <input type="radio" id="radio-type-si" ng-model="vm.producto.interno" value="1" ng-disabled="vm.edicion">
                                            <label for="radio-type-si">Interno</label>
                                        </div>
                                        <div class="rdio rdio-theme circle radio-inline">
                                            <input type="radio" id="radio-type-no" ng-model="vm.producto.interno" value="0" ng-disabled="vm.edicion">
                                            <label for="radio-type-no">Venta</label>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row" ng-show="vm.producto.interno === '0'">
                                <div class="col-md-12">                                       
                                    <label class="col-sm-2 col-xs-6 control-label">Precio base:</label>
                                    <div class="col-sm-2 col-xs-6">  
                                        <input type="text" name="valorventabase" ng-model="vm.producto.valorventabase" class="form-control input-sm mb-5" ng-change="vm.changeValorventabase()" />                                        
                                    </div>
                                    <label class="col-sm-2 col-xs-6 control-label">IVA (21%):</label>
                                    <div class="col-sm-2 col-xs-6">
                                        <input type="text" name="valorventaigv" ng-model="vm.producto.valorventaigv" class="form-control input-sm mb-5" disabled />                                        
                                    </div>
                                    <label class="col-sm-2 col-xs-6 control-label">PVP:</label>
                                    <div class="col-sm-2 col-xs-6">  
                                        <input type="text" name="valorventa" ng-model="vm.producto.valorventa" class="form-control input-sm mb-5" ng-change="vm.changeValorventa()" />                                        
                                    </div>
                                </div>
                            </div>

                            <h4 class="mt-10">Stock </h4>
                            <div class="row">
                                <div class="col-md-12 mb-5">
                                    <div class="callout callout-info mb-5">
                                        <code>Tipo stock </code><br> 
                                        <code>Gen&eacute;rico:</code>Solo se ingresar&aacute; cantidad.
                                        <code>Detallado:</code>Se ingresar&aacute; cantidad y fecha de vencimiento. 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                        
                                    <label class="col-sm-2 col-xs-6 control-label">Unidad medida: <span class="asterisk">*</span></label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <select ng-model="vm.producto.idunidadmedida" ng-options="item.idunidadmedida as item.nombre for item in vm.others.unidadmedidas" name="idunidadmedida" class="form-control input-sm mb-5" ng-required="vm.producto.idtipoproducto === 1">
                                            <option value="">- Seleccione -</option>
                                        </select>                                    
                                        <div ng-messages="miForm.idunidadmedida.$error" class="required" role="alert" ng-show="miForm.idunidadmedida.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div>                                    
                                    <label class="col-sm-2 col-xs-6 control-label">Tipo stock: <span class="asterisk">*</span></label>
                                    <div class="col-sm-4 col-xs-6">
                                        <select name="idtipostock" ng-model="vm.producto.idtipostock" ng-options="item.idtipostock as item.nombre for item in vm.others.tipostock" class="form-control input-sm mb-5" ng-required="vm.producto.idtipoproducto === 1" ng-disabled="vm.edicion">
                                            <option value="">- Seleccione -</option>
                                        </select> 
                                        <div ng-messages="miForm.idtipostock.$error" class="required" role="alert" ng-show="miForm.idtipostock.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-12">                        
                                    <label class="col-sm-2 col-xs-6 control-label">Stock m&iacute;nimo:</label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="number" name="stockmin" ng-model="vm.producto.stockmin" class="form-control input-sm mb-5"/>
                                    </div>                                    
                                    <label class="col-sm-2 col-xs-6 control-label">Estado:</label>   
                                    <div class="col-sm-4 col-xs-6">
                                        <div class="rdio rdio-theme circle radio-inline" >
                                            <input type="radio" name="activo" id="radio-type-activo" ng-model="vm.producto.activo" value="1">
                                            <label for="radio-type-activo">Activo</label>
                                        </div>
                                        <div class="rdio rdio-theme circle radio-inline">
                                            <input type="radio" name="activo" id="radio-type-inactivo" ng-model="vm.producto.activo" value="0">
                                            <label for="radio-type-inactivo">Inactivo</label>
                                        </div>
                                        <div ng-messages="miForm.activo.$error" class="required" role="alert" ng-show="miForm.activo.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="col-sm-2 col-xs-6 control-label">Descripcion:</label>   
                                    <div class="col-sm-4 col-xs-6">
                                        <textarea class="form-control" rows="5" ng-model="vm.producto.descripcion"></textarea>
                                    </div>                                    
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div><!-- /.panel-body -->
                <!--/ End tabs content -->
            </div><!-- /.panel -->
            <!--/ End default tabs -->            
        </form>
    </div>
</div> 