<style>
    .required{
        color: #F00;
        font-size: 11px;
        padding: 0px;
        margin: 0px;
    }
    .grid{ 
        width: 100%;
        height: 385px;
    }
</style>
<script type="text/ng-template" id="myModalSelectProductoContent.html">  
    <div class="modal-header">
        <h3 class="modal-title">Tratamientos</h3>
    </div>
    <div class="modal-body"> 
        <div class="row" >
            <div class="col-md-12"> 
                <div class="mb-10">                 
                    <form ng-submit="vm.getPage()" class="form-horizontal">
                        <div class="pull-left">
                            <div class="form-group no-margin no-padding has-feedback">                        
                                <input type="text" ng-model="vm.filter.likeproducto" class="form-control" placeholder="Tratamiento" style="width: 300px; color:#000 !important; font-weight: bold">
                                <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                            </div> 
                        </div> 
                    </form>
                    <div class="pull-right"  data-ng-include="'partials/pagination.html'"></div>                     
                    <div class="clearfix"></div>
                </div>
                <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize class="grid" style="background: #fff"></div>                
            </div>
        </div>      
    </div>
    <div class="modal-footer"> 
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script> 

<div class="row">             
    <div class="col-md-12"> 
        <form name="miForm" ng-submit="vm.save();" novalidate>
            <div class="panel rounded shadow no-margin">            
                <div class="panel-heading">
                    <div class="pull-left">
                        <a ui-sref="{{vm.stateparent}}.list" class="btn btn-danger btn-sm"><i class="fa fa-arrow-left"></i> Volver</a>                            
                    </div>
                    <div class="pull-right">                        
                        <button class="btn btn-theme btn-sm" ng-disabled="miForm.$invalid || miForm.$submitted"><i class="fa fa-floppy-o"></i> Grabar</button>
                    </div>
                    <div class="clearfix"></div>
                </div>     
                <div class="panel-body">
                    <h4>{{vm.promocion.idtipopromocion === 1 && 'Paquete' || 'Tratamiento'}} </h4>
                    <div class="row" ng-if="vm.promocion.idtipopromocion === 1">
                        <div class="col-md-12">                        
                            <label class="col-sm-2 col-xs-6 control-label">Nombre: <span class="asterisk">*</span></label>
                            <div class="col-sm-10 col-xs-6">   
                                <input type="text" ng-model="vm.promocion.nombre" class="form-control input-sm mb-5" required />
                                <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                                    <div ng-message="required">El campo es requerido</div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.promocion.idtipopromocion === 2">
                        <div class="col-md-12">                        
                            <label class="col-sm-2 col-xs-6 control-label">C&oacute;digo:</label>
                            <div class="col-sm-4 col-xs-6">   
                                <input type="text" ng-model="vm.producto.codigo" class="form-control input-sm mb-5" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.promocion.idtipopromocion === 2">
                        <div class="col-md-12">                        
                            <label class="col-sm-2 col-xs-6 control-label">Nombre: <span class="asterisk">*</span></label>
                            <div class="col-sm-10 col-xs-6">                                          
                                <div class="input-group no-margin no-padding  mb-5">
                                    <input class="form-control input-sm" name="nombre" type="text" ng-model="vm.producto.nombre" disabled required>
                                    <span class="input-group-btn"><button type="button" class="btn btn-primary btn-sm" ng-click="vm.openModal('2', {idproducto: vm.producto.idproducto})"><i class="fa fa-folder-open"></i></button></span>
                                </div>
                                <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                                    <div ng-message="required">El campo es requerido</div>
                                    <div ng-message="minlength">Debe ser 10 caracteres</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.promocion.idtipopromocion === 2">
                        <div class="col-md-12">                        
                            <label class="col-sm-2 col-xs-6 control-label">PVP: </label>
                            <div class="col-sm-4 col-xs-6">                                          
                                <input type="text" ng-model="vm.producto.valorventa" class="form-control input-sm mb-5" disabled />
                            </div>
                        </div>
                    </div>      
                    <h4>Descuento</h4>
                    <div class="row">
                        <div class="col-md-12">                                       
                            <label class="col-sm-2 col-xs-6 control-label">Desde: <span class="asterisk">*</span></label>
                            <div class="col-sm-4 col-xs-6">                                          
                                <input data-input-mask type="text" name="desde" ng-model="vm.promocion.desde" maxlength="10" class="form-control input-sm mb-5" data-inputmask="'alias': 'dd/mm/yyyy'" ng-minlength="10" required>
                                <div ng-messages="miForm.desde.$error" class="required" role="alert" ng-show="miForm.desde.$dirty">
                                    <div ng-message="required">El campo es requerido</div>
                                    <div ng-message="minlength">Debe ser 10 caracteres</div>
                                </div>
                            </div>
                            <label class="col-sm-2 col-xs-6 control-label">Hasta: <span class="asterisk">*</span></label>
                            <div class="col-sm-4 col-xs-6">                                          
                                <input data-input-mask type="text" name="hasta" ng-model="vm.promocion.hasta" maxlength="10" class="form-control input-sm mb-5" data-inputmask="'alias': 'dd/mm/yyyy'" ng-minlength="10" required>
                                <div ng-messages="miForm.hasta.$error" class="required" role="alert" ng-show="miForm.hasta.$dirty">
                                    <div ng-message="required">El campo es requerido</div>
                                    <div ng-message="minlength">Debe ser 10 caracteres</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-sm-2 col-xs-6 control-label">Tipo descuento:</label>   
                            <div class="col-sm-4 col-xs-6">
                                <div class="rdio rdio-theme circle radio-inline">
                                    <input type="radio" name="activo" id="radio-type-porcentual" ng-model="vm.promocion.tipodscto" value="1" ng-change="vm.tipodescuento()">
                                    <label for="radio-type-porcentual">Porcentual</label>
                                </div>
                                <div class="rdio rdio-theme circle radio-inline">
                                    <input type="radio" name="activo" id="radio-type-monetario" ng-model="vm.promocion.tipodscto" value="2" ng-change="vm.tipodescuento()">
                                    <label for="radio-type-monetario">Monetario</label>
                                </div> 
                            </div>                                        
                        </div>
                    </div> 
                    <div class="row" ng-if="vm.promocion.idtipopromocion === 2">
                        <div class="col-md-12">                                       
                            <label class="col-sm-2 col-xs-6 control-label">Descuento: <span class="asterisk">*</span> <strong>{{ vm.promocion.tipodscto === '1' && '%' || '€'}}</strong> </label>
                            <div class="col-sm-4 col-xs-6">  
                                <input type="text" name="valordscto" ng-model="vm.promocion.valordscto" class="form-control input-sm mb-5" ng-change="vm.changeValordscto()" required />
                                <div ng-messages="miForm.valordscto.$error" class="required" role="alert" ng-show="miForm.valordscto.$dirty">
                                    <div ng-message="required">El campo es requerido</div>
                                </div>
                            </div>
                            <label class="col-sm-2 col-xs-6 control-label">PVP - Descuento.:</label>
                            <div class="col-sm-4 col-xs-6">
                                <input type="text" name="pvpdscto" ng-model="vm.promocion.pvpdscto" class="form-control input-sm mb-5" disabled />                                        
                            </div> 
                        </div>
                    </div>                     
                    <div class="row" ng-if="vm.promocion.idtipopromocion === 1">
                        <div class="col-md-12">                                       
                            <div ui-grid="vm.miBoleta" ui-grid-auto-resize ui-grid-resize-columns ui-grid-cellNav ui-grid-edit class="grid"></div>
                        </div>
                    </div>                     
                </div> 
            </div> 
        </form>
    </div>
</div> 