<style>
    .grid{ 
        width: 100%;
        height: 1020px;
    }    
    .morado{
        color: #F00 !important;
    }
</style>  
<script type="text/ng-template" id="myModalContent.html">  
    <form name="miForm" ng-submit="save();" novalidate>
    <div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-exclamation-triangle"></i></h3>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-xs-12 col-md-12">
    ¿Seguro de eliminar: <strong>{{nombre}}</strong> ?
    </div>
    </div>
    </div>     
    <div class="modal-footer">            
    <button class="btn btn-primary" ng-disabled="miForm.$submitted">
    <span>Si, eliminar</span>  
    </button>    
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
    </form>
</script> 

<div ng-show="$state.includes('{{vm.stateparent}}.list')">
    <div class="row">
        <div class="col-md-12"> 
            <div class="mb-10">                 
                <form ng-submit="vm.getPage()" class="form-horizontal">
                    <div class="pull-left">
                        <div class="form-group no-margin no-padding has-feedback">                        
                            <input type="text" ng-model="vm.filter.likenombre" class="form-control" placeholder="Campaña" style="width: 300px; color:#000 !important; font-weight: bold" >
                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                        </div>
                    </div>
                </form>
                <div class="pull-right"  data-ng-include="'partials/pagination.html'"></div> 
                <div class="pull-right">                    
                    <a href="#" class="btn btn-sm btn-danger" tooltip-placement="top" uib-tooltip="Eliminar" ng-if="vm.filaSelecciona.length == 1" ng-click="vm.openModal('delete', vm.filaSelecciona[0])"><i class="fa fa-trash-o"></i> </a>
                    <a ui-sref="{{vm.stateparent}}.edit({promocionId: vm.filaSelecciona[0].idpromocion, tipo: vm.filaSelecciona[0].idtipopromocion})" class="btn btn-sm btn-warning" tooltip-placement="top" uib-tooltip="Editar" ng-if="vm.filaSelecciona.length === 1"><i class="fa fa-pencil"></i></a>
                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                            Nueva <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" class="pull-right">                            
                            <li role="menuitem"><a href="#" ui-sref="{{vm.stateparent}}.new({tipo: 1})">campaña tipo paquete</a></li> 
                            <li role="menuitem"><a href="#" ui-sref="{{vm.stateparent}}.new({tipo: 2})">campaña tipo tratamiento</a></li>
                        </ul>
                    </div> 
                    
                </div>
                <div class="clearfix"></div>
            </div>
            <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize class="grid" style="background: #fff"></div>                
        </div>
    </div> 
</div>
<div ui-view></div>