<style>
    .required{
        color: #F00;
        font-size: 11px;
        padding: 0px;
        margin: 0px;
    }
</style>
<script type="text/ng-template" id="myModalCategoriaContent.html">  
    <form name="miForm" ng-submit="save();" novalidate>
    <div class="modal-header">
    <h3 class="modal-title">Tratamientos</h3>
    </div>
    <div class="modal-body"> 
    <div class="row" >
    <div class="col-xs-12 col-md-12">
    <label>Categoria seleccionada:</label>                
    <code>( {{seleccionado}} )</code> 
    </div>
    </div>
    <div class="row" >
    <div class="form-group col-xs-12 col-md-12">

    <treecontrol class="tree-classic no-margin no-padding"
    on-selection="nodeSelect(node, selected)"
    tree-model="categorias"
    options="treeOptions">
    {{node.nombre}}                    
    </treecontrol>  

    </div>
    </div>    
    </div>
    <div class="modal-footer">            
    <button class="btn btn-primary">
    <span>Aceptar</span>        
    </button>    
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
    </form>
</script>

<script type="text/ng-template" id="myModalSelectProductoContent.html">  
    <div class="modal-header">
    <h3 class="modal-title">Productos</h3>
    </div>
    <div class="modal-body"> 
    <div class="row" >
    <div class="col-md-12"> 
    <div class="mb-10">                 
    <form ng-submit="vm.getPage()" class="form-horizontal">
    <div class="pull-left">
    <div class="form-group no-margin no-padding has-feedback">                        
    <input type="text" ng-model="vm.filter.likeproducto" class="form-control" placeholder="Producto" style="width: 300px; color:#000 !important; font-weight: bold" >
    <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
    </div> 
    </div> 
    </form>
    <div class="pull-right"  data-ng-include="'partials/pagination.html'"></div>                     
    <div class="clearfix"></div>
    </div>
    <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize style="background: #fff"></div>                
    </div>
    </div>      
    </div>
    <div class="modal-footer"> 
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>
<div class="row">             
    <div class="col-md-12"> 
        <form name="miForm" ng-submit="vm.save();" novalidate>
            <div class="panel rounded shadow no-margin">            
                <div class="panel-heading">
                    <div class="pull-left">
                        <a ui-sref="tratamiento.list" class="btn btn-danger btn-sm"><i class="fa fa-arrow-left"></i> Volver</a>                            
                    </div>
                    <div class="pull-right">                        
                        <button class="btn btn-theme btn-sm" ng-disabled="miForm.$invalid || miForm.$submitted"><i class="fa fa-floppy-o"></i> Grabar</button>
                    </div>
                    <div class="clearfix"></div>
                </div>     
            </div><!-- /.panel -->

            <!-- Start default tabs -->
            <div class="panel panel-tab  panel-tab-double rounded shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1-1" data-toggle="tab">                                
                                <i class="fa fa-info-circle"></i>
                                <div>
                                    <span class="text-strong">Datos</span>
                                    <span>Información general</span>
                                </div>
                            </a>
                        </li>        
                        <li>
                            <a href="#tab1-2" data-toggle="tab">
                                <i class="fa fa-medkit"></i>
                                <div>
                                    <span class="text-strong">Materiales</span>
                                    <span>Por tratamiento</span>
                                </div> 
                            </a>
                        </li>
                    </ul>

                </div><!-- /.panel-heading -->
                <!--/ End tabs heading --> 

                <!-- Start tabs content -->
                <div class="panel-body">
                    <div class="tab-content"> 
                        <div class="tab-pane fade in active" id="tab1-1"> 
                            <h4>Datos generales</h4>
                            <div class="row">
                                <div class="col-md-12">       
                                    <label class="col-sm-2 col-xs-6 control-label">Código:</label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="text" name="codigo" ng-model="vm.producto.codigo" class="form-control input-sm mb-5"/>
                                    </div>
                                    <label class="col-sm-2 col-xs-6 control-label">Categor&iacute;a:</label> 
                                    <div class="col-sm-4 col-xs-6">                                          
                                        <div class="input-group no-margin no-padding  mb-5">
                                            <input class="form-control input-sm" type="text" ng-model="vm.producto.categoria" disabled>
                                            <span class="input-group-btn"><button type="button" class="btn btn-primary btn-sm" ng-click="vm.openModal('new', {idtipoproducto: vm.producto.idtipoproducto, idarbol: vm.producto.idarbol, categoria: vm.producto.categoria})"><i class="fa fa-folder-open"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-12">                                                                                                
                                    <label class="col-sm-2 col-xs-6 control-label">                                        
                                        <span>Tratamiento: </span>
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="col-sm-10 col-xs-6">
                                        <input type="text" name="nombre" ng-model="vm.producto.nombre" class="form-control input-sm mb-5" required/>
                                        <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div> 
                                </div>
                            </div>   
                            <div class="row">
                                <div class="col-md-12">                                       
                                    <label class="col-sm-2 col-xs-6 control-label">Precio base:</label>
                                    <div class="col-sm-2 col-xs-6">  
                                        <input type="text" name="valorventabase" ng-model="vm.producto.valorventabase" class="form-control input-sm mb-5" ng-change="vm.changeValorventabase()" />                                        
                                    </div>
                                    <label class="col-sm-2 col-xs-6 control-label">IVA (21%):</label>
                                    <div class="col-sm-2 col-xs-6">
                                        <input type="text" name="valorventaigv" ng-model="vm.producto.valorventaigv" class="form-control input-sm mb-5" disabled />                                        
                                    </div>
                                    <label class="col-sm-2 col-xs-6 control-label">PVP:</label>
                                    <div class="col-sm-2 col-xs-6">  
                                        <input type="text" name="valorventa" ng-model="vm.producto.valorventa" class="form-control input-sm mb-5" ng-change="vm.changeValorventa()" />                                        
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="col-sm-2 col-xs-6 control-label">Descripcion:</label>   
                                    <div class="col-sm-10 col-xs-6">
                                        <textarea class="form-control input-sm mb-5" rows="7" ng-model="vm.producto.descripcion"></textarea>
                                    </div>                                    
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-sm-2 col-xs-6 control-label">Estado:</label>   
                                    <div class="col-sm-4 col-xs-6">
                                        <div class="rdio rdio-theme circle radio-inline" >
                                            <input type="radio" name="activo" id="radio-type-activo" ng-model="vm.producto.activo" value="1">
                                            <label for="radio-type-activo">Activo</label>
                                        </div>
                                        <div class="rdio rdio-theme circle radio-inline">
                                            <input type="radio" name="activo" id="radio-type-inactivo" ng-model="vm.producto.activo" value="0">
                                            <label for="radio-type-inactivo">Inactivo</label>
                                        </div>
                                        <div ng-messages="miForm.activo.$error" class="required" role="alert" ng-show="miForm.activo.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div>                                        
                                </div>
                            </div> 
                        </div> 
                        <!-- PANEL 2-->
                        <div class="tab-pane fade" id="tab1-2"> 
                            <h4>Productos</h4>
                            <div class="row">
                                <div class="col-md-12">   
                                    <label class="col-md-6 col-sm-12 control-label text-theme">Añada los productos a usarse en el tratamiento.</label>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                       
                                    <div class="col-md-12 col-sm-12"> 
                                        <div ui-grid="vm.miBoleta" ui-grid-auto-resize ui-grid-resize-columns></div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div> 
                </div>
            </div><!-- /.panel-body -->
            <!--/ End tabs content -->
    </div><!-- /.panel -->
    <!--/ End default tabs -->            
</form>
</div>
</div> 